
<div class="card bg-transparent border-0 shadow-none mb-0">
    <div class="card-body p-0">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-xl-6">
                        <div class="card overflow-hidden">
                            <div class="item-card9-img">
                                <div class="item-card9-imgs">
                                    <a href="page-details.html"></a>
                                    <img src="../assets/images/media/11.jpg" alt="img" class="cover-image">
                                </div>
                                <div class="item-card9-icons">
                                    <a href="javascript:void(0)" class="item-card9-icons1 bg-primary"> <i class="fa fa fa-heart-o"></i></a>
                                    <a href="javascript:void(0)" class="item-card9-icons1 bg-secondary"> <i class="fa fa fa-share-alt"></i></a>
                                </div>
                                <div class="item-overly-trans">
                                    <a href="page-details.html" class="bg-primary">Popular</a>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="item-card9">
                                    <span class="item-card-badge"><i class="fa fa-briefcase me-1"></i> Business</span>
                                    <a href="page-details.html" class="text-default-dark mt-2"><h3 class="mt-2 mb-2">Business Management</h3></a>
                                    <p class="mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium </p>
                                </div>
                                <div class="mt-2 mb-2">
                                    <div class="rating-stars d-flex me-5">
                                        <h4 class="font-weight-semibold me-2">4.2</h4>
                                        <div class="star-ratings start-ratings-main clearfix me-3">
                                            <div class="stars stars-example-fontawesome stars-example-fontawesome-sm">
                                                <select class="example-fontawesome" name="rating" autocomplete="off">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4" selected>4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </div>
                                        </div>(4,24,525)
                                    </div>
                                </div>
                                <h4 class="font-weight-semibold fs-20 text-dark"><i class="fe fe-tag mt-0 text-muted fs-18 me-2"></i>$263.99</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-xl-6">
                        <div class="card overflow-hidden">
                            <div class="ribbon ribbon-top-left text-danger"><span class="bg-danger">Offer</span></div>
                            <div class="item-card9-img">
                                <div class="item-card9-imgs">
                                    <a href="page-details.html"></a>
                                    <img src="../assets/images/media/9.jpg" alt="img" class="cover-image">
                                </div>
                                <div class="item-card9-icons">
                                    <a href="javascript:void(0)" class="item-card9-icons1 bg-primary"> <i class="fa fa fa-heart-o"></i></a>
                                    <a href="javascript:void(0)" class="item-card9-icons1 bg-secondary"> <i class="fa fa fa-share-alt"></i></a>
                                </div>
                                <div class="item-overly-trans">
                                    <a href="page-details.html" class="bg-primary">High Rated</a>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="item-card9">
                                    <span class="item-card-badge"><i class="fa fa-cube me-1"></i> Networking</span>
                                    <a href="page-details.html" class="text-default-dark"><h3 class="mt-2 mb-2">Networking Classes</h3></a>
                                    <p class="mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium </p>
                                </div>
                                <div class="mt-2 mb-2">
                                    <div class="rating-stars d-flex me-5">
                                        <h4 class="font-weight-semibold me-2">5.0</h4>
                                        <div class="star-ratings start-ratings-main clearfix me-3">
                                            <div class="stars stars-example-fontawesome stars-example-fontawesome-sm">
                                                <select class="example-fontawesome" name="rating" autocomplete="off">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5" selected>5</option>
                                                </select>
                                            </div>
                                        </div>(12,00,525)
                                    </div>
                                </div>
                                <h4 class="font-weight-semibold fs-20 text-dark"><i class="fe fe-tag mt-0 text-muted fs-18 me-2"></i>$745.00<span class="strike-text mx-2 text-muted fs-16">$896.00</span></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-xl-6">
                        <div class="card overflow-hidden">
                            <div class="item-card9-img">
                                <div class="item-card9-imgs">
                                    <a href="page-details.html"></a>
                                    <img src="../assets/images/media/3.jpg" alt="img" class="cover-image">
                                </div>
                                <div class="item-card9-icons">
                                    <a href="javascript:void(0)" class="item-card9-icons1 bg-primary"> <i class="fa fa fa-heart-o"></i></a>
                                    <a href="javascript:void(0)" class="item-card9-icons1 bg-secondary"> <i class="fa fa fa-share-alt"></i></a>
                                </div>
                                <div class="item-overly-trans">
                                    <a href="page-details.html" class="bg-blue">Popular</a>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="item-card9">
                                    <span class="item-card-badge"><i class="fa fa-paint-brush me-1"></i> Beautician</span>
                                    <a href="page-details.html" class="text-default-dark mt-2"><h3 class="mt-2 mb-2">Beautician Classes</h3></a>
                                    <p class="mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium </p>
                                </div>
                                <div class="mt-2 mb-2">
                                    <div class="rating-stars d-flex me-5">
                                        <h4 class="font-weight-semibold me-2">4.3</h4>
                                        <div class="star-ratings start-ratings-main clearfix me-3">
                                            <div class="stars stars-example-fontawesome stars-example-fontawesome-sm">
                                                <select class="example-fontawesome" name="rating" autocomplete="off">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4" selected>4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </div>
                                        </div>(67,525)
                                    </div>
                                </div>
                                <h4 class="font-weight-semibold fs-20 text-dark"><i class="fe fe-tag mt-0 text-muted fs-18 me-2"></i>$149.00</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-xl-6">
                        <div class="card overflow-hidden">
                            <div class="item-card9-img">
                                <div class="item-card9-imgs">
                                    <a href="page-details.html"></a>
                                    <img src="../assets/images/media/5.jpg" alt="img" class="cover-image">
                                </div>
                                <div class="item-card9-icons">
                                    <a href="javascript:void(0)" class="item-card9-icons1 bg-primary"> <i class="fa fa fa-heart-o"></i></a>
                                    <a href="javascript:void(0)" class="item-card9-icons1 bg-secondary"> <i class="fa fa fa-share-alt"></i></a>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="item-card2">
                                    <div class="item-card2-desc">
                                        <span class="item-card-badge"><i class="fa fa-music me-1"></i> Music</span>
                                        <a href="page-details.html" class="text-default-dark mt-2"><h3 class="mt-2 mb-2">Guitar Classes</h3></a>
                                        <p class="mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium </p>
                                    </div>
                                </div>
                                <div class="mt-2 mb-2">
                                    <div class="rating-stars d-flex me-5">
                                        <h4 class="font-weight-semibold me-2">4.9</h4>
                                        <div class="star-ratings start-ratings-main clearfix me-3">
                                            <div class="stars stars-example-fontawesome stars-example-fontawesome-sm">
                                                <select class="example-fontawesome" name="rating" autocomplete="off">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4" selected>4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </div>
                                        </div>(99,525)
                                    </div>
                                </div>
                                <h4 class="font-weight-semibold fs-20 text-dark"><i class="fe fe-tag mt-0 text-muted fs-18 me-2"></i>$13.00</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-xl-6">
                        <div class="card overflow-hidden">
                            <div class="item-card9-img">
                                <div class="item-card9-imgs">
                                    <a href="page-details.html"></a>
                                    <img src="../assets/images/media/16.jpg" alt="img" class="cover-image">
                                </div>
                                <div class="item-card9-icons">
                                    <a href="javascript:void(0)" class="item-card9-icons1 bg-primary"> <i class="fa fa fa-heart-o"></i></a>
                                    <a href="javascript:void(0)" class="item-card9-icons1 bg-secondary"> <i class="fa fa fa-share-alt"></i></a>
                                </div>
                                <div class="item-overly-trans">
                                    <a href="page-details.html" class="bg-blue">Popular</a>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="item-card2">
                                    <div class="item-card2-desc">
                                        <span class="item-card-badge"><i class="fa fa-camera me-1"></i> PhotoShop</span>
                                        <a href="page-details.html" class="text-default-dark mt-2"><h3 class="mt-2 mb-2">PhotoShop Design</h3></a>
                                        <p class="mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium </p>
                                    </div>
                                </div>
                                <div class="mt-2 mb-2">
                                    <div class="rating-stars d-flex me-5">
                                        <h4 class="font-weight-semibold me-2">5.0</h4>
                                        <div class="star-ratings start-ratings-main clearfix me-3">
                                            <div class="stars stars-example-fontawesome stars-example-fontawesome-sm">
                                                <select class="example-fontawesome" name="rating" autocomplete="off">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5" selected>5</option>
                                                </select>
                                            </div>
                                        </div>(99,525)
                                    </div>
                                </div>
                                <h4 class="font-weight-semibold fs-20 text-dark"><i class="fe fe-tag mt-0 text-muted fs-18 me-2"></i>42.00</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-xl-6">
                        <div class="card overflow-hidden">
                            <div class="item-card9-img">
                                <div class="item-card9-imgs">
                                    <a href="page-details.html"></a>
                                    <img src="../assets/images/media/7.jpg" alt="img" class="cover-image">
                                </div>
                                <div class="item-card9-icons">
                                    <a href="javascript:void(0)" class="item-card9-icons1 bg-primary"> <i class="fa fa fa-heart-o"></i></a>
                                    <a href="javascript:void(0)" class="item-card9-icons1 bg-secondary"> <i class="fa fa fa-share-alt"></i></a>
                                </div>
                                <div class="item-overly-trans">
                                    <a href="page-details.html" class="bg-primary">Best Sales</a>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="item-card2">
                                    <div class="item-card2-desc">
                                        <span class="item-card-badge"><i class="fa fa-flask me-1"></i> DataScience</span>
                                        <a href="page-details.html" class="text-default-dark mt-2"><h3 class="mt-2 mb-2">Data Science</h3></a>
                                        <p class="mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium </p>
                                    </div>
                                </div>
                                <div class="mt-2 mb-2">
                                    <div class="rating-stars d-flex me-5">
                                        <h4 class="font-weight-semibold me-2">5.0</h4>
                                        <div class="star-ratings start-ratings-main clearfix me-3">
                                            <div class="stars stars-example-fontawesome stars-example-fontawesome-sm">
                                                <select class="example-fontawesome" name="rating" autocomplete="off">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5" selected>5</option>
                                                </select>
                                            </div>
                                        </div>(1,25,252)
                                    </div>
                                </div>
                                <h4 class="font-weight-semibold fs-20 text-dark"><i class="fe fe-tag mt-0 text-muted fs-18 me-2"></i>$263.99</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
