<div class="card border-0 shadow-none mb-0">
	<div class="card-body">
		<div class="row">
			<div class="col-sm-6 col-md-6">
				<div class="form-group">
					<label class="form-label">First Name</label>
					<input type="text" class="form-control" placeholder="First Name" value="Jacob Smith">
				</div>
			</div>
			<div class="col-sm-6 col-md-6">
				<div class="form-group">
					<label class="form-label">Last Name</label>
					<input type="text" class="form-control" placeholder="Last Name" value="peter">
				</div>
			</div>
			<div class="col-sm-6 col-md-6">
				<div class="form-group">
					<label class="form-label">Email address</label>
					<input type="email" class="form-control" placeholder="Email" value="jacobsith@spruko.com">
				</div>
			</div>
			<div class="col-sm-6 col-md-6">
				<div class="form-group">
					<label class="form-label">Phone Number</label>
					<input type="number" class="form-control" placeholder="Number" value="1252543562">
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group">
					<label class="form-label">Address</label>
					<input type="text" class="form-control" placeholder="Home Address" value="Second stret, NY 10012, US">
				</div>
			</div>
			<div class="col-sm-6 col-md-4">
				<div class="form-group">
					<label class="form-label">City</label>
					<input type="text" class="form-control" placeholder="City" value="New York">
				</div>
			</div>
			<div class="col-sm-6 col-md-3">
				<div class="form-group">
					<label class="form-label">Postal Code</label>
					<input type="number" class="form-control" placeholder="ZIP Code" value="10012">
				</div>
			</div>
			<div class="col-md-5">
				<div class="form-group">
					<label class="form-label">Country</label>
					<select class="form-control select2-show-search border-bottom-0 w-100 select2-show-search select2-hidden-accessible" data-placeholder="Select" data-select2-id="9" tabindex="-1" aria-hidden="true">
						<optgroup label="Categories" data-select2-id="27">
							<option data-select2-id="11">--Select--</option>
							<option value="1" data-select2-id="28">Germany</option>
							<option value="2" data-select2-id="29">Real Estate</option>
							<option value="3" data-select2-id="30">Canada</option>
							<option value="4" data-select2-id="31" selected="">Usa</option>
							<option value="5" data-select2-id="32">Afghanistan</option>
							<option value="6" data-select2-id="33">Albania</option>
							<option value="7" data-select2-id="34">China</option>
							<option value="8" data-select2-id="35">Denmark</option>
							<option value="9" data-select2-id="36">Finland</option>
							<option value="10" data-select2-id="37">India</option>
							<option value="11" data-select2-id="38">Kiribati</option>
							<option value="12" data-select2-id="39">Kuwait</option>
							<option value="13" data-select2-id="40">Mexico</option>
							<option value="14" data-select2-id="41">Pakistan</option>
						</optgroup>
					</select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="11" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="-1" aria-labelledby="select2-p70q-container"><span class="select2-selection__rendered" id="select2-p70q-container" role="textbox" aria-readonly="true" title="Usa">Usa</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group">
					<label class="form-label">About Me</label>
					<textarea rows="5" class="form-control" placeholder="Enter About your description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atcorrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</textarea>
				</div>
			</div>
			<div class="col-md-12">
				<div class="input-group file-browser">
					<input type="text" class="form-control border-end-0 browse-file valid" placeholder="Upload Images" readonly="" aria-invalid="false" value="colorful-logo-icons.png">
					<label class="input-group-btn">
						<span class="btn btn-primary">
							Browse <input type="file" style="display: none;" multiple="">
						</span>
					</label>
				</div>
			</div>
		</div>
	</div>
	<div class="card-footer border-top-0">
		<button type="submit" class="btn btn-primary">Updated Profile</button>
	</div>
</div>