<div class="card bg-transparent border-0 shadow-none mb-0">
    <div class="card-body p-0">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                <div class="card text-center shadow-none">
                    <div class="card-body">
                        <img class="brround avatar-xl" src="../assets/images/users/male/1.jpg" alt="img">
                        <div class="follower-details mt-3">
                            <h5 class="font-weight-semibold2 mb-1">Jane Pearson</h5>
                            <p class="text-default">Designer</p>
                        </div>
                        <a class="btn btn-outline-light btn-sm w-auto d-inline-block text-dark" href="javascript:void(0)">View Profile</a>
                    </div>
                    <div class="card-footer">
                        <i class="fe fe-map-pin fs-12 "></i> Canada
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                <div class="card text-center shadow-none">
                    <div class="card-body">
                        <img class="brround avatar-xl" src="../assets/images/users/female/20.jpg" alt="img">
                        <div class="follower-details mt-3">
                            <h5 class="font-weight-semibold2 mb-1">Teresa Wood</h5>
                            <p class="text-default">Developer</p>
                        </div>
                        <a class="btn btn-outline-light btn-sm w-auto d-inline-block text-dark" href="javascript:void(0)">View Profile</a>
                    </div>
                    <div class="card-footer">
                        <i class="fe fe-map-pin fs-12 "></i> US
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                <div class="card text-center shadow-none">
                    <div class="card-body">
                        <img class="brround avatar-xl" src="../assets/images/users/female/16.jpg" alt="img">
                        <div class="follower-details mt-3">
                            <h5 class="font-weight-semibold2 mb-1">Mary Butler</h5>
                            <p class="text-default">Designer</p>
                        </div>
                        <a class="btn btn-outline-light btn-sm w-auto d-inline-block text-dark" href="javascript:void(0)">View Profile</a>
                    </div>
                    <div class="card-footer">
                        <i class="fe fe-map-pin fs-12 "></i> USA
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                <div class="card text-center shadow-none">
                    <div class="card-body">
                        <img class="brround avatar-xl" src="../assets/images/users/male/26.jpg" alt="img">
                        <div class="follower-details mt-3">
                            <h5 class="font-weight-semibold2 mb-1">Anthony Miller</h5>
                            <p class="text-default">Networking</p>
                        </div>
                        <a class="btn btn-outline-light btn-sm w-auto d-inline-block text-dark" href="javascript:void(0)">View Profile</a>
                    </div>
                    <div class="card-footer">
                        <i class="fe fe-map-pin fs-12 "></i> Canada
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                <div class="card text-center shadow-none">
                    <div class="card-body">
                        <img class="brround avatar-xl" src="../assets/images/users/male/17.jpg" alt="img">
                        <div class="follower-details mt-3">
                            <h5 class="font-weight-semibold2 mb-1">Terry Tucker</h5>
                            <p class="text-default">Data Science</p>
                        </div>
                        <a class="btn btn-outline-light btn-sm w-auto d-inline-block text-dark" href="javascript:void(0)">View Profile</a>
                    </div>
                    <div class="card-footer">
                        <i class="fe fe-map-pin fs-12 "></i> Austria
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                <div class="card text-center shadow-none">
                    <div class="card-body">
                        <img class="brround avatar-xl" src="../assets/images/users/female/26.jpg" alt="img">
                        <div class="follower-details mt-3">
                            <h5 class="font-weight-semibold2 mb-1">Elizabeth Martin</h5>
                            <p class="text-default">Designer</p>
                        </div>
                        <a class="btn btn-outline-light btn-sm w-auto d-inline-block text-dark" href="javascript:void(0)">View Profile</a>
                    </div>
                    <div class="card-footer">
                        <i class="fe fe-map-pin fs-12 "></i> USA
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                <div class="card text-center shadow-none">
                    <div class="card-body">
                        <img class="brround avatar-xl" src="../assets/images/users/male/20.jpg" alt="img">
                        <div class="follower-details mt-3">
                            <h5 class="font-weight-semibold2 mb-1">Christopher Harvey</h5>
                            <p class="text-default">Designer</p>
                        </div>
                        <a class="btn btn-outline-light btn-sm w-auto d-inline-block text-dark" href="javascript:void(0)">View Profile</a>
                    </div>
                    <div class="card-footer">
                        <i class="fe fe-map-pin fs-12 "></i> Canada
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                <div class="card text-center shadow-none">
                    <div class="card-body">
                        <img class="brround avatar-xl" src="../assets/images/users/female/5.jpg" alt="img">
                        <div class="follower-details mt-3">
                            <h5 class="font-weight-semibold2 mb-1">Deborah Alvarado</h5>
                            <p class="text-default">Designer</p>
                        </div>
                        <a class="btn btn-outline-light btn-sm w-auto d-inline-block text-dark" href="javascript:void(0)">View Profile</a>
                    </div>
                    <div class="card-footer">
                        <i class="fe fe-map-pin fs-12 "></i> Russia
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                <div class="card text-center shadow-none">
                    <div class="card-body">
                        <img class="brround avatar-xl" src="../assets/images/users/male/1.jpg" alt="img">
                        <div class="follower-details mt-3">
                            <h5 class="font-weight-semibold2 mb-1">Jane Pearson</h5>
                            <p class="text-default">Designer</p>
                        </div>
                        <a class="btn btn-outline-light btn-sm w-auto d-inline-block text-dark" href="javascript:void(0)">View Profile</a>
                    </div>
                    <div class="card-footer">
                        <i class="fe fe-map-pin fs-12 "></i> Canada
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>