@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Header {
    <section>
        <div class="sptb-2 bannerimg">
            <div class="header-text mb-0">
                <div class="container">
                    <div class="text-center text-white py-7">
                        <h1 class="">Profil</h1>
                        <ol class="breadcrumb text-center">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Anasayfa</a></li>
                            <li class="breadcrumb-item active text-white" aria-current="page">Profil</li>
                        </ol>

                    </div>
                </div>
            </div>
        </div>
    </section>

}

<!--User Profile-->
<section class="sptb  profile-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-xl-3">
                <div class="card">
                    <div class="card-body pattern-2">
                        <div class="wideget-user">
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="wideget-user-desc text-center">
                                        <div class="wideget-user-img">
                                            <img class="brround" src="../assets/images/users/female/20.jpg" alt="img">
                                        </div>
                                        <div class="user-wrap wideget-user-info">
                                            <a href="javascript:void(0)"><h4 class="font-weight-semibold text-white">Jacob Smith</h4></a>
                                            <span class="text-white">Kasım 2008' den beri Üye</span>
                                            <div class="wideget-user-rating">
                                                <a href="javascript:void(0)"><i class="fa fa-star text-warning"></i></a>
                                                <a href="javascript:void(0)"><i class="fa fa-star text-warning"></i></a>
                                                <a href="javascript:void(0)"><i class="fa fa-star text-warning"></i></a>
                                                <a href="javascript:void(0)"><i class="fa fa-star text-warning"></i></a>
                                                <a href="javascript:void(0)"><i class="fa fa-star-o text-warning me-1"></i></a> <span class="text-white">5 (3876 Reviews)</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 text-center">
                                    <div class="wideget-user-info ">
                                        <div class="wideget-user-icons mt-2">
                                            <a href="javascript:void(0)" class="mt-0"><i class="fa fa-facebook"></i></a>
                                            <a href="javascript:void(0)" class=""><i class="fa fa-twitter"></i></a>
                                            <a href="javascript:void(0)" class=""><i class="fa fa-google"></i></a>
                                            <a href="javascript:void(0)" class=""><i class="fa fa-dribbble"></i></a>
                                            <a href="javascript:void(0)" class=""><i class="fa fa-share"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Önerilen Eğitmenler</h3>
                    </div>
                    <div class="card-body">
                        <ul>
                            <li class="mb-3">
                                <div class="d-flex">
                                    <span class="avatar avatar-md d-block brround cover-image me-2" data-bs-image-src="../assets/images/users/female/20.jpg"></span>
                                    <div class="my-auto"><a href="userprofile.html" class="text-dark font-weight-semibold d-block">Jane Pearson</a><span class="text-muted"> Designer</span></div>
                                    <div class="my-auto ms-auto">
                                        <span class="d-block">
                                            <p class="mb-0">
                                                <span class="fs-14">
                                                    <i class="fa fa-star text-yellow"></i>
                                                    <i class="fa fa-star text-yellow"></i>
                                                    <i class="fa fa-star text-yellow"></i>
                                                    <i class="fa fa-star text-yellow"></i>
                                                    <i class="fa fa-star-o text-yellow"></i>
                                                </span>
                                            </p>
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li class="mb-3">
                                <div class="d-flex">
                                    <span class="avatar avatar-md d-block brround cover-image me-2" data-bs-image-src="../assets/images/users/male/9.jpg"></span>
                                    <div class="my-auto"><a href="userprofile.html" class="text-dark font-weight-semibold d-block">Jason Porter</a><span class="text-muted"> Developer</span></div>
                                    <div class="my-auto ms-auto">
                                        <span class="d-block">
                                            <p class="mb-0">
                                                <span class="fs-14">
                                                    <i class="fa fa-star text-yellow"></i>
                                                    <i class="fa fa-star text-yellow"></i>
                                                    <i class="fa fa-star text-yellow"></i>
                                                    <i class="fa fa-star text-yellow"></i>
                                                    <i class="fa fa-star-o text-yellow"></i>
                                                </span>
                                            </p>
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li class="mb-3">
                                <div class="d-flex">
                                    <span class="avatar avatar-md d-block brround cover-image me-2" data-bs-image-src="../assets/images/users/female/16.jpg"></span>
                                    <div class="my-auto"><a href="userprofile.html" class="text-dark font-weight-semibold d-block">Mary Butler</a><span class="text-muted"> Networking</span></div>
                                    <div class="my-auto ms-auto">
                                        <span class="d-block">
                                            <p class="mb-0">
                                                <span class="fs-14">
                                                    <i class="fa fa-star text-yellow"></i>
                                                    <i class="fa fa-star text-yellow"></i>
                                                    <i class="fa fa-star text-yellow"></i>
                                                    <i class="fa fa-star text-yellow"></i>
                                                    <i class="fa fa-star-o text-yellow"></i>
                                                </span>
                                            </p>
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li class="mb-3">
                                <div class="d-flex">
                                    <span class="avatar avatar-md d-block brround cover-image me-2" data-bs-image-src="../assets/images/users/male/32.jpg"></span>
                                    <div class="my-auto"><a href="userprofile.html" class="text-dark font-weight-semibold d-block">Douglas Ray</a><span class="text-muted"> Designer</span></div>
                                    <div class="my-auto ms-auto">
                                        <span class="d-block">
                                            <p class="mb-0">
                                                <span class="fs-14">
                                                    <i class="fa fa-star text-yellow"></i>
                                                    <i class="fa fa-star text-yellow"></i>
                                                    <i class="fa fa-star text-yellow"></i>
                                                    <i class="fa fa-star text-yellow"></i>
                                                    <i class="fa fa-star-o text-yellow"></i>
                                                </span>
                                            </p>
                                        </span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-xl-9">
                <div class="">
                    <div class="ps-0 pb-5">
                        <div class="wideget-user-tab">
                            <div class="tab-menu-heading">
                                <div class="tabs-menu1">
                                    <ul class="nav">
                                        <li class="ms-0"><a href="#tab-5" class="active ms-0" data-bs-toggle="tab" onclick="getPartialProfile()">Profil</a></li>
                                         <li>
                                            <a href="javascript:void(0)" data-bs-toggle="dropdown" class="dropdown-toggle">Kurs</a>
                                            <ul class="dropdown-menu" role="menu" style="">
                                                
                                                <a href="#partialLoad" data-bs-toggle="tab" class="" onclick="getPartialView('CourseListPartialView')" id="courseList">Kurs Listesi</a>
                                                <li><a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#largeModal" onclick="getPartialModal()">Kurs Ekle</a></li>
                                               
                                            </ul>
                                        </li>

                                        <li><a href="#partialLoad" data-bs-toggle="tab" class="" onclick="getPartialView('RecentCoursePartialView')">Son Kursları</a></li>
                                        <li><a href="#partialLoad" data-bs-toggle="tab" class="" onclick="getPartialView('FollowersPartialView')">Takipçiler</a></li>
                                        <li><a href="#partialLoad" data-bs-toggle="tab" class="" onclick="getPartialView('CommentsPartialView')">Yorumlar</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              
                <div class="border-0">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab-5">
                            <div class="card mb-0">
                                <div class="card-body">
                                    <div class="profile-log-switch">
                                        <div class="media-heading">
                                            <h3 class="card-title mb-3 font-weight-bold">Kişisel Bilgiler &nbsp; <a href="#partialLoad" class="" onclick="getProfileEdit('EditProfilePartialView')"><i class="fa fa-edit" data-bs-toggle="tooltip" data-bs-placement="top" title="Kişisel Bilgileri Düzenle"></i></a></h3>
                                        </div>
                                        <ul class="usertab-list mb-3">
                                            <li><a href="javascript:void(0)"><span class="font-weight-bold text-default-dark">Ad Soyad :</span> <span class="user-1"> Jacob Smith</span></a></li>
                                            <li><a href="javascript:void(0)"><span class="font-weight-bold text-default-dark">Konum :</span> <span class="user-1"> USA</span></a></li>
                                            <li><a href="javascript:void(0)"><span class="font-weight-bold text-default-dark">Diller :</span> <span class="user-1"> English, German,Vehiclenish</span>.</a></li>
                                            <li><a href="javascript:void(0)"><span class="font-weight-bold text-default-dark">Website :</span><span class="user-1"> smithabgd.com</span></a></li>
                                            <li><a href="javascript:void(0)"><span class="font-weight-bold text-default-dark">E-posta :</span> <span class="user-1"> georgemestayer@gmail.com</span></a></li>
                                            <li><a href="javascript:void(0)"><span class="font-weight-bold text-default-dark">Telefon :</span> <span class="user-1"> +125 254 3562 </span></a></li>
                                        </ul>
                                        <div class="row profie-img">
                                            <div class="col-md-12">
                                                <div class="media-heading">
                                                    <h3 class="card-title mb-3 font-weight-bold">Hakkında</h3>
                                                </div>
                                                <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus how to pursue pleasure rationally encounter but because those who do not know how to pursue consequences that are extremely</p>
                                                <p class="mb-0">because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter but because those who do not know how to pursue consequences the extre painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.</p>
                                            </div>
                                        </div>
                                        <div class="row profie-img mt-5">
                                            <div class="col-md-12">
                                                <div class="card-body ps-0">
                                                    <h6 class="text-dark mb-3">Öğretim (90%)</h6>
                                                    <div class="progress progress-md mb-4 h-2 ">
                                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-teal w-90"></div>
                                                    </div>
                                                    <h6 class="text-dark mb-3">İletişim Yetenekleri (80%)</h6>
                                                    <div class="progress progress-md mb-4 h-2 ">
                                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-info w-80"></div>
                                                    </div>
                                                    <h6 class="text-dark mb-3">Deneyim (70%)</h6>
                                                    <div class="progress progress-md mb-4 h-2 ">
                                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-yellow w-70"></div>
                                                    </div>
                                                    <h6 class="text-dark mb-3">Değerlendirme (60%)</h6>
                                                    <div class="progress progress-md h-2 ">
                                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-green w-60"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane " id="partialLoad">
                            
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="largeModal" class="modal fade">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header pd-x-20">
                <h6 class="modal-title">Kurs Ekle</h6>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pd-20" id="partialModalLoad">
                
               
            </div><!-- modal-body -->
            @*<div class="modal-footer">
                <button type="button" class="btn btn-primary">Kaydet</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
            </div>*@
        </div>
    </div><!-- modal-dialog -->
</div><!-- modal -->
<!--Section-->
<script>

    $('[data-bs-toggle="tab"]').click(function (e) {
        console.log($(e.target)[0].innerText);
        if ($(e.target)[0].innerText != "Kurs Listesi") {
            $("#courseList").attr('class', '');
            $('[data-bs-toggle="dropdown"]').attr('class', 'dropdown-toggle');
       }
       else{
            $('[data-bs-toggle="dropdown"]').attr('class', 'dropdown-toggle show active');
       }
    });
   

  function getPartialView(view)
  {
      var link='@Url.Action("LoadPartial","Instructor")';
      
        $.get(link + "?view=" + view, function (data) {
            
            $('#partialLoad').html(data);
        });
      
  }

    function getProfileEdit(view) 
    {
        
        $("#tab-5").attr('class', 'tab-pane');
        $("#partialLoad").attr('class', 'tab-pane active');
        getPartialView(view);
    }
    function getPartialProfile() {

        $("#tab-5").attr('class', 'tab-pane active');
        $("#partialLoad").attr('class', 'tab-pane');
        
    }

    function getPartialModal()
    {
       

        $.get('@Url.Action("LoadModalPartial","Instructor")', function (data) {

            $('#partialModalLoad').html(data);
        });
    }




</script>