
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Header {
	<section>
		<div class="sptb-2 bannerimg">
			<div class="header-text mb-0">
				<div class="container">
					<div class="text-center text-white py-7">
						<h1 class="">Sepet</h1>
						<ol class="breadcrumb text-center">
							<li class="breadcrumb-item"><a href="javascript:void(0)">Anasayfa</a></li>
							<li class="breadcrumb-item active text-white" aria-current="page">Sepet</li>
						</ol>

					</div>
				</div>
			</div>
		</div>
	</section>

}

<div class="row row-cards">
	<div class="col-lg-12">
		<div class="card cart-table">
			<div class="card-header ">
				<h3 class="card-title">Sepet</h3>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>Ürün</th>
								<th>Başlık</th>
								<th class="w-15">Adet</th>
								<th>Fiyat</th>
								<th>İndirim</th>
								<th>Toplam</th>
								<th>Eylem</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="text-center"><img src="../assets/images/media/color/sm/1.jpg" alt="img" title="" class="w-7 h-7 br-7"></td>
								<td>Html Coding Book</td>
								<td>
									<div class="input-group input-indec">
										<span class="input-group-btn">
											<button type="button" class="minus btn btn-light btn-number br-ts-7 br-te-0 br-bs-7 br-be-0 ">
												<i class="fa fa-minus"></i>
											</button>
										</span>
										<input type="text" name="quantity" class="form-control text-center qty" value="1">
										<span class="input-group-btn">
											<button type="button" class="btn btn-light btn-number br-ts-0 br-te-7 br-bs-0 br-be-7 add">
												<i class="fa fa-plus"></i>
											</button>
										</span>
									</div>
								</td>
								<td><span>$345.00</span></td>
								<td><span>10%</span></td>
								<td><span>$345.00</span></td>
								<td>
									<a href="javascript:void(0)" class="btn btn-primary btn-icon me-3" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="View Details" aria-label="View Details"><i class="icon icon-eye"></i></a>
									<a href="javascript:void(0)" class="btn btn-danger btn-icon me-3" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Save for Wishlist" aria-label="Save for Wishlist"><i class="icon icon-heart"></i></a>
									<a href="javascript:void(0)" class="btn btn-info me-3" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Remove" aria-label="Remove"><i class="icon icon-trash"></i></a>
								</td>
							</tr>
							<tr>
								<td class="text-center"><img src="../assets/images/media/color/sm/8.jpg" alt="img" title="" class="w-7 h-7 br-7"></td>
								<td>Photoshop Reference Book</td>
								<td>
									<div class="input-group input-indec">
										<span class="input-group-btn">
											<button type="button" class="minus btn btn-light btn-number br-ts-7 br-te-0 br-bs-7 br-be-0 ">
												<i class="fa fa-minus"></i>
											</button>
										</span>
										<input type="text" name="quantity" class="form-control text-center qty" value="1">
										<span class="input-group-btn">
											<button type="button" class="btn btn-light btn-number br-ts-0 br-te-7 br-bs-0 br-be-7 add">
												<i class="fa fa-plus"></i>
											</button>
										</span>
									</div>
								</td>
								<td><span>$156.00</span></td>
								<td><span>50%</span></td>
								<td><span>$312.00</span></td>
								<td>
									<a href="javascript:void(0)" class="btn btn-primary btn-icon me-3" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="View Details" aria-label="View Details"><i class="icon icon-eye"></i></a>
									<a href="javascript:void(0)" class="btn btn-danger btn-icon me-3" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Save for Wishlist" aria-label="Save for Wishlist"><i class="icon icon-heart"></i></a>
									<a href="javascript:void(0)" class="btn btn-info me-3" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Remove" aria-label="Remove"><i class="icon icon-trash"></i></a>
								</td>
							</tr>
							<tr>
								<td class="text-center"><img src="../assets/images/media/color/sm/2.jpg" alt="img" title="" class="w-7 h-7 br-7"></td>
								<td>Java Reference Book</td>
								<td>
									<div class="input-group input-indec">
										<span class="input-group-btn">
											<button type="button" class="minus btn btn-light btn-number br-ts-7 br-te-0 br-bs-7 br-be-0 ">
												<i class="fa fa-minus"></i>
											</button>
										</span>
										<input type="text" name="quantity" class="form-control text-center qty" value="1">
										<span class="input-group-btn">
											<button type="button" class="btn btn-light btn-number br-ts-0 br-te-7 br-bs-0 br-be-7 add">
												<i class="fa fa-plus"></i>
											</button>
										</span>
									</div>
								</td>
								<td><span>$45.00</span></td>
								<td><span>30%</span></td>
								<td><span>$135.00</span></td>
								<td>
									<a href="javascript:void(0)" class="btn btn-primary btn-icon me-3" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="View Details" aria-label="View Details"><i class="icon icon-eye"></i></a>
									<a href="javascript:void(0)" class="btn btn-danger btn-icon me-3" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Save for Wishlist" aria-label="Save for Wishlist"><i class="icon icon-heart"></i></a>
									<a href="javascript:void(0)" class="btn btn-info me-3" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Remove" aria-label="Remove"><i class="icon icon-trash"></i></a>
								</td>
							</tr>
							<tr>
								<td class="text-center"><img src="../assets/images/media/color/sm/3.jpg" alt="img" title="" class="w-7 h-7 br-7"></td>
								<td>Beautician</td>
								<td>
									<div class="input-group input-indec">
										<span class="input-group-btn">
											<button type="button" class="minus btn btn-light btn-number br-ts-7 br-te-0 br-bs-7 br-be-0 ">
												<i class="fa fa-minus"></i>
											</button>
										</span>
										<input type="text" name="quantity" class="form-control text-center qty" value="1">
										<span class="input-group-btn">
											<button type="button" class="btn btn-light btn-number br-ts-0 br-te-7 br-bs-0 br-be-7 add">
												<i class="fa fa-plus"></i>
											</button>
										</span>
									</div>
								</td>
								<td><span>$25.00</span></td>
								<td><span>20%</span></td>
								<td><span>$135.00</span></td>
								<td>
									<a href="javascript:void(0)" class="btn btn-primary btn-icon me-3" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="View Details" aria-label="View Details"><i class="icon icon-eye"></i></a>
									<a href="javascript:void(0)" class="btn btn-danger btn-icon me-3" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Save for Wishlist" aria-label="Save for Wishlist"><i class="icon icon-heart"></i></a>
									<a href="javascript:void(0)" class="btn btn-info me-3" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Remove" aria-label="Remove"><i class="icon icon-trash"></i></a>
								</td>
							</tr>
							<tr>
								<td colspan="6"><span class="float-end">Cart Subtotal</span></td>
								<td class="">$571.00</td>
							</tr>
							<tr>
								<td colspan="6"><span class="float-end">Total</span></td>
								<td class="text-muted"><span>$571.00</span></td>
							</tr>
							<tr>
								<td colspan="6"><span class="float-end">Order Total</span></td>
								<td><h2 class="price mb-0">$571.00</h2></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="float-start mt-5">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Apply Coupon">
						<span class="input-group-append">
							<button class="btn btn-primary br-ts-0 br-bs-0">Apply</button>
						</span>
					</div>
				</div>
				<div class=" float-end mt-5">
					<a href="shop.html" class="btn btn-info"><i class="fe fe-arrow-left"></i> Continue Shopping</a>
					<a href="cart.html" class="btn btn-primary">Update Cart</a>
					<a href="javascript:void(0)" class="btn btn-secondary">Checkout <i class="fe fe-arrow-right"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>

