<div class="sptb-1">
	<div class="header-text1 mb-0">
		<div class="container">
			<div class="row">
				<div class="col-xl-8 col-lg-7 col-md-12">
					<div>
						<h1 class="text-white display-5 font-weight-semibold">Advanced Web Develpment</h1>
						<p class="text-white lead"> Sed quia non numquam eius modi tempora incidunt ut labore et nostrud exercitation ullamco laboris commodo consequat.</p>
						<div class="d-block d-md-flex align-items-center mb-5">
							<a href="javascript:void(0)" class="text-white"><i class="fe fe-bookmark text-white-50 me-2"></i>Yer İmli</a>
							<span class="text-white ms-3"><i class="fe fe-user text-white-50"></i> 100 Kayıtlı </span>
							<span class="ms-4">
								<i class="fa fa-star text-warning"></i>
								<i class="fa fa-star text-warning"></i>
								<i class="fa fa-star text-warning"></i>
								<i class="fa fa-star text-warning"></i>
								<i class="fa fa-star text-warning"></i>
								<span class="text-white">(190)</span>
							</span>
							<span class="text-white ms-3"><i class="fe fe-bar-chart text-white-50"></i> Gelişmiş </span>
						</div>
						<a href="javascript:void(0)" class="btn-secondary btn btn-lg">Kursu Alın <span class="text-white"><i class="fe fe-edit ms-1 text-white"></i></span></a>
					</div>
				</div>
			</div>
		</div>
	</div><!-- /header-text -->
</div>