<!doctype html>
<html lang="tr">
<head>
    <!-- Meta data -->
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content=" Öğretmenler, öğrencilerin birarada çalıştığı bir platformdur. 3 Yıldır pilot olarka çalışan uygulama artık Türkiye'nin hizmetinde. Edu İKO'nun odağında öğrenci bulunur. Çoklu zeka envanteri ile öğrenme modelini tespit eder. Bununla birlikte öğrencinin eksik yönlerini geliştirecek uygulamalar ile öğrencinin gelişmesini sağlar." name="description">
    <meta name="keywords" content="online class,eğitim platformu,öğrenci gelişimi,sanal sınıf,canlı ders,okul,eğitim,öğrenci,öğretmen" />
    <!-- Favicon -->

    <link rel="icon" href="~/assets/images/brand/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/images/brand/favicon.ico" />

    <!-- Title -->
    <title> Türkiye'nin Eğitim Mutfağı | Edu İKO | </title>
    <!-- Bootstrap css -->
    <link id="style" href="~/assets/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" />

    <!-- Style css -->
    <link href="~/assets/css/style.css" rel="stylesheet" />

    <!-- Plugin Css -->
    <link href="~/assets/css/plugins.css" rel="stylesheet" />

    <!-- Font-awesome  css -->
    <link href="~/assets/css/icons.css" rel="stylesheet" />

    <!-- Color Skin css -->
    <link id="theme" rel="stylesheet" type="text/css" media="all" href="~/assets/color-skins/color.css" />


</head>
 <script src="~/assets/js/jquery.min.js"></script>

    <!-- Bootstrap js -->
    <script src="~/assets/plugins/bootstrap/js/popper.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<body>

   <!--/Loader-->
    @{
        Html.RenderPartial("./NavMenu/_Loader");
    }
    <!--Topbar-->
    <div class="header-main">
      
        @{
            Html.RenderPartial("./NavMenu/_TopBar");
        }
        <!--Topbar-->
        <!--Section-->
        <div class="cover-image bg-background-1" data-bs-image-src="/assets/images/banners/banner1.jpg">
            <!--/Horizontal-main -->
            @{
                Html.RenderPartial("./NavMenu/_HeaderMain");
            }
            
            <!--Section-->
            @RenderSection("Header", required: false)
          
        </div>
    </div>

    <!-- Shape Start -->
    <div class="relative">
        <div class="shape overflow-hidden text-white shape-inner">
            <svg viewBox="0 0 2880 48" fill="none" xmsns="http://www.w3.org/2000/svg">
                <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="#f5f4f9"></path>
            </svg>
        </div>
    </div>
    <!--Shape End-->
    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <!--subscribe-->
    @{
        Html.RenderPartial("./Footer/_Subscribe");
    }
    <!--/subscribe-->
    <!--Footer Section-->
    @{
        Html.RenderPartial("./Footer/_Footer");
    }
   

    <!--JQuery Sparkline js-->
    <script src="~/assets/js/jquery.sparkline.min.js"></script>

    <!-- Circle Progress js-->
    <script src="~/assets/js/circle-progress.min.js"></script>

    <!-- Jquery-bar-rating Js-->
    <script src="~/assets/plugins/jquery-bar-rating/jquery.barrating.js"></script>
    <script src="~/assets/plugins/jquery-bar-rating/js/rating.js"></script>

    <!--Counters js-->
    <script src="~/assets/plugins/counters/counterup.min.js"></script>
    <script src="~/assets/plugins/counters/waypoints.min.js"></script>
    <script src="~/assets/plugins/counters/numeric-counter.js"></script>

    <!--Owl Carousel js -->
    <script src="~/assets/plugins/owl-carousel/owl.carousel.js"></script>

    <!--Horizontal Menu js-->
    <script src="~/assets/plugins/horizontal-menu/horizontal-menu.js"></script>

    <!-- sticky js-->
    <script src="~/assets/js/sticky.js"></script>

    <!--JQuery TouchSwipe js-->
    <script src="~/assets/js/jquery.touchSwipe.min.js"></script>

    <!--Select2 js -->
    <script src="~/assets/plugins/select2/select2.full.min.js"></script>
    <script src="~/assets/js/select2.js"></script>

    <!-- Internal :::   Jquery flexdatalist js -->
    <script src="~/assets/plugins/jquery.flexdatalist/jquery.flexdatalist.js"></script>
    <script src="~/assets/plugins/jquery.flexdatalist/data-list.js"></script>

    <!-- Perfect Scrollbar js -->
    <script src="~/assets/plugins/pscrollbar/pscrollbar.js"></script>

    <!-- Cookie js -->
    <script src="~/assets/plugins/cookie/jquery.ihavecookies.js"></script>
    <script src="~/assets/plugins/cookie/cookie.js"></script>

    <!-- Scripts js-->
    <script src="~/assets/js/owl-carousel.js"></script>

    <!-- Theme color Js-->
    <script src="~/assets/js/themeColors.js"></script>

    <!-- Switcher Styles Js-->
    <script src="~/assets/js/switcher-styles.js"></script>

    <!-- Custom js-->
    <script src="~/assets/js/custom.js"></script>

    <!--Select2 js -->
    <script src="~/assets/plugins/select2/select2.full.min.js"></script>
    <script src="~/assets/js/select2.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
