<div>
	<div class="sptb-1">
		<div class="header-text1 mb-0">
			<div class="container">
				<div class="row">
					<div class="col-xl-9 col-lg-12 col-md-12 d-block mx-auto">
						<div class="text-center text-white text-property">
							<h1 class=""><span class="font-weight-bold">2000+</span> En İyi Eğitmenler ve Kurslar Burada!</h1>
						</div>
						<div class="search-background bg-transparent">
							<div class="form row g-0 ">
								<div class="form-group  col-xl-4 col-lg-3 col-md-12 mb-0 bg-white">
									<input type="text" class="form-control input-xl br-te-md-0 br-be-md-0 border-end-0" id="text4" placeholder="Eğitmen Ara.....">
								</div>
								<div class="form-group  col-xl-3 col-lg-3 col-md-12 mb-0 bg-white">
									<input type="text" class="form-control input-xl br-md-0 border-end-0" id="text5" placeholder="Konum Gir">
									<span><i class="fa fa-map-marker location-gps me-1"></i> </span>
								</div>
								<div class="form-group col-xl-3 col-lg-3 col-md-12 select2-lg mb-0 bg-white">
									<select class="form-control select2-show-search  border-bottom-0" data-placeholder="Select Category">
										<optgroup label="Kategori">
											<option>Kategori Seç </option>
											<option value="1">IT</option>
											<option value="2">Language</option>
											<option value="3">Science</option>
											<option value="4">Health</option>
											<option value="5">Humanities</option>
											<option value="6">Business</option>
											<option value="7">Maths</option>
											<option value="8">Marketing</option>
										</optgroup>
									</select>
								</div>
								<div class="col-xl-2 col-lg-3 col-md-12 mb-0">
									<a href="javascript:void(0)" class="btn btn-xl btn-block btn-secondary br-ts-md-0 br-bs-md-0">Ara</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div><!-- /header-text -->
	</div>
</div><!--/Section-->