<section class="cover-image sptb bg-background-1" data-bs-image-src="/assets/images/banners/banner5.jpg">
	<div class="content-text mb-0">
		<div class="content-text mb-0">
			<div class="container">
				<div class="text-white">
					<div class="row">
						<div class="col-lg-6">
							<div class="mt-0">
								<h1 class="mb-2 font-weight-semibold">Abone Ol</h1>
								<p class="fs-18 mb-0">Bizden haber ve duyruları almak istiyorsan e-posta adresini bizimle paylaş.</p>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="mt-4">
								<div class="input-group sub-input mt-1">
									<input type="text" class="form-control input-lg  br-ts-7  br-bs-7" placeholder="E-posta">
									<div class="input-group-text ">
										<button type="button" class="btn btn-secondary btn-lg br-te-7  br-be-7">
											Abone ol
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>