<div class="tab-content item-list2">
	<div class="tab-pane active" id="tab-11">
		<div class="card overflow-hidden">
			<div class="d-md-flex">
				<div class="item-card9-img">
					<div class="item-card9-imgs">
						<a href="/Courses/Index"></a>
						<img src="../assets/images/media/Categories/2.jpg" alt="img" class="cover-image">
					</div>
					<div class="item-overly-trans">
						<a href="/Courses/Index" class="bg-primary">Popular</a>
					</div>
				</div>
				<div class="card border-0 mb-0">
					<div class="card-body p-0">
						<div class="item-card9 ps-5 pt-5">
							<a href="/Courses/Index" class="text-default-dark"><h3 class="">Business Management Classes</h3></a>
							<p class="mb-0 mt-1 lead">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium </p>
							<div class="mt-2 mb-2">
								<ul class="icon-card-1">
									<li class="me-3"><span class="fs-14"><i class="fa fa-briefcase me-1"></i> Business</span></li>
									<li class="me-3"><span class="fs-14"><i class="fa fa-user me-1"></i> Stephanie</span></li>
									<li class="me-3"><span class="fs-14"><i class="fa fa-clock-o me-1"></i>37 Lectures</span></li>
									<li class="me-3"><span class="fs-14"><i class="fa fa-users me-1"></i>45,000 students</span></li>
								</ul>
							</div>
							<div>
								<div class="rating-stars d-flex">
									<h4 class="font-weight-semibold me-2">4.2</h4>
									<div class="star-ratings start-ratings-main clearfix me-3">
										<div class="stars stars-example-fontawesome stars-example-fontawesome-sm">
											<div class="br-wrapper br-theme-fontawesome-stars">
												<select class="example-fontawesome" name="rating" autocomplete="off" style="display: none;">
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4" selected="">4</option>
													<option value="5">5</option>
												</select>
											</div>
										</div>
									</div>(4,24,525)
								</div>
							</div>
						</div>
						<div class="border-top ps-5 mt-2">
							<h4 class="font-weight-semibold fs-20 text-dark mt-4 mb-4"><i class="fe fe-tag mt-0 fs-18 me-2"></i>$263.99</h4>
							<div class="item-card9-icons2">
								<a href="javascript:void(0)" class="item-card9-icons1" data-bs-toggle="tooltip" data-bs-original-title="Like"> <i class="fe fe-heart"></i></a>
								<a href="javascript:void(0)" class="item-card9-icons1" data-bs-toggle="tooltip" data-bs-original-title="Share"> <i class="fe fe-share-2"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card overflow-hidden">
			<div class="ribbon ribbon-top-left text-danger"><span class="bg-danger">Offer</span></div>
			<div class="d-md-flex">
				<div class="item-card9-img">
					<div class="item-card9-imgs">
						<a href="/Courses/Index"></a>
						<img src="../assets/images/media/Categories/4.jpg" alt="img" class="cover-image">
					</div>
					<div class="item-overly-trans">
						<a href="/Courses/Index" class="bg-blue">High Rated</a>
					</div>
				</div>
				<div class="card mb-0 border-0">
					<div class="card-body p-0">
						<div class="item-card9 ps-5 pt-5">
							<a href="/Courses/Index" class="text-default-dark"><h3 class="">Networking Classes</h3></a>
							<p class="mb-0 leading-tight">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium </p>
							<div class="mt-2 mb-2">
								<ul class="icon-card-1">
									<li class="me-3"><span class="fs-14"><i class="fa fa-cube me-1"></i> Networking</span></li>
									<li class="me-3"><span class="fs-14"><i class="fa fa-user me-1"></i> Lauren</span></li>
									<li class="me-3"><span class="fs-14"><i class="fa fa-clock-o me-1"></i>50 Lectures</span></li>
									<li class="me-3"><span class="fs-14"><i class="fa fa-users me-1"></i>75,030 students</span></li>
								</ul>
							</div>
							<div class="">
								<div class="rating-stars d-flex">
									<h4 class="font-weight-semibold me-2">5.0</h4>
									<div class="star-ratings start-ratings-main clearfix me-3">
										<div class="stars stars-example-fontawesome stars-example-fontawesome-sm">
											<select class="example-fontawesome" name="rating" autocomplete="off">
												<option value="1">1</option>
												<option value="2">2</option>
												<option value="3">3</option>
												<option value="4">4</option>
												<option value="5" selected>5</option>
											</select>
										</div>
									</div>(12,00,525)
								</div>
							</div>
						</div>
						<div class="border-top ps-5 mt-2">
							<h4 class="font-weight-semibold fs-20 text-dark mt-4 mb-4"><i class="fe fe-tag mt-0 fs-18 me-2"></i>$745.00<span class="strike-text mx-2 text-default fs-16">$896.00</span></h4>
							<div class="item-card9-icons2">
								<a href="javascript:void(0)" class="item-card9-icons1" data-bs-toggle="tooltip" data-bs-original-title="Like"> <i class="fe fe-heart"></i></a>
								<a href="javascript:void(0)" class="item-card9-icons1" data-bs-toggle="tooltip" data-bs-original-title="Share"> <i class="fe fe-share-2"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card overflow-hidden">
			<div class="d-md-flex">
				<div class="item-card9-img">
					<div class="item-card9-imgs">
						<a href="/Courses/Index"></a>
						<img src="../assets/images/media/Categories/9.jpg" alt="img" class="cover-image">
					</div>
					<div class="item-card9-icons">
						<a href="javascript:void(0)" class="item-card9-icons1 bg-primary"> <i class="fa fa fa-heart-o"></i></a>
						<a href="javascript:void(0)" class="item-card9-icons1 bg-secondary"> <i class="fa fa fa-share-alt"></i></a>
					</div>
					<div class="item-overly-trans">
						<a href="/Courses/Index" class="bg-primary">Popular</a>
					</div>
				</div>
				<div class="card border-0 mb-0">
					<div class="card-body p-0">
						<div class="item-card9 ps-5 pt-5">
							<a href="/Courses/Index" class="text-default-dark"><h3 class="">Beautician Classes</h3></a>
							<p class="mb-0 leading-tight">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium </p>
							<div class="mt-2 mb-2">
								<ul class="icon-card-1">
									<li class="me-3"><span class="fs-14"><i class="fa fa-paint-brush me-1"></i> Beautician</span></li>
									<li class="me-3"><span class="fs-14"><i class="fa fa-user me-1"></i> Kimberly</span></li>
									<li class="me-3"><span class="fs-14"><i class="fa fa-clock-o me-1"></i>20 Lectures</span></li>
									<li class="me-3"><span class="fs-14"><i class="fa fa-users me-1"></i>35,500 students</span></li>
								</ul>
							</div>
							<div class="">
								<div class="rating-stars d-flex">
									<h4 class="font-weight-semibold me-2">4.3</h4>
									<div class="star-ratings start-ratings-main clearfix me-3">
										<div class="stars stars-example-fontawesome stars-example-fontawesome-sm">
											<select class="example-fontawesome" name="rating" autocomplete="off">
												<option value="1">1</option>
												<option value="2">2</option>
												<option value="3">3</option>
												<option value="4" selected>4</option>
												<option value="5">5</option>
											</select>
										</div>
									</div>(67,525)
								</div>
							</div>
						</div>
						<div class="border-top ps-5 mt-2">
							<h4 class="font-weight-semibold fs-20 text-dark mt-4 mb-4"><i class="fe fe-tag mt-0 fs-18 me-2"></i>$149.00</h4>
							<div class="item-card9-icons2">
								<a href="javascript:void(0)" class="item-card9-icons1" data-bs-toggle="tooltip" data-bs-original-title="Like"> <i class="fe fe-heart"></i></a>
								<a href="javascript:void(0)" class="item-card9-icons1" data-bs-toggle="tooltip" data-bs-original-title="Share"> <i class="fe fe-share-2"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card overflow-hidden">
			<div class="d-md-flex">
				<div class="item-card9-img">
					<div class="item-card2-img ">
						<a href="/Courses/Index"></a>
						<img src="../assets/images/media/Categories/10.jpg" alt="img" class="cover-image">
					</div>
					<div class="item-card9-icons">
						<a href="javascript:void(0)" class="item-card9-icons1 bg-primary"> <i class="fa fa fa-heart-o"></i></a>
						<a href="javascript:void(0)" class="item-card9-icons1 bg-secondary"> <i class="fa fa fa-share-alt"></i></a>
					</div>
				</div>
				<div class="card border-0 mb-0">
					<div class="card-body p-0">
						<div class="item-card2 ps-5 pt-5">
							<div class="item-card2-desc">
								<a href="/Courses/Index" class="text-default-dark mt-2"><h3 class="mt-0">Guitar Classes</h3></a>
								<p class="mb-0 leading-tight">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium </p>
								<div class="mt-2 mb-2">
									<ul class="icon-card-1">
										<li class="me-3"><span class="fs-14"><i class="fa fa-music me-1"></i> Music</span></li>
										<li class="me-3"><span class="fs-14"><i class="fa fa-user me-1"></i> Jennifer</span></li>
										<li class="me-3"><span class="fs-14"><i class="fa fa-clock-o me-1"></i>15 Lectures</span></li>
										<li class="me-3"><span class="fs-14"><i class="fa fa-users me-1"></i>60,000 students</span></li>
										<li class="me-3"><span class="fs-14"><i class="fa fa-map-marker me-1"></i>Los Angles</span></li>
									</ul>
								</div>
							</div>
							<div class="">
								<div class="rating-stars d-flex">
									<h4 class="font-weight-semibold me-2">4.9</h4>
									<div class="star-ratings start-ratings-main clearfix me-3">
										<div class="stars stars-example-fontawesome stars-example-fontawesome-sm">
											<select class="example-fontawesome" name="rating" autocomplete="off">
												<option value="1">1</option>
												<option value="2">2</option>
												<option value="3">3</option>
												<option value="4" selected>4</option>
												<option value="5">5</option>
											</select>
										</div>
									</div>(99,525)
								</div>
							</div>
						</div>
					</div>
					<div class="border-top ps-5 mt-2">
						<h4 class="font-weight-semibold fs-20 text-dark mt-4 mb-4"><i class="fe fe-tag mt-0 fs-18 me-2"></i>$13.00</h4>
						<div class="item-card9-icons2">
							<a href="javascript:void(0)" class="item-card9-icons1" data-bs-toggle="tooltip" data-bs-original-title="Like"> <i class="fe fe-heart"></i></a>
							<a href="javascript:void(0)" class="item-card9-icons1" data-bs-toggle="tooltip" data-bs-original-title="Share"> <i class="fe fe-share-2"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card overflow-hidden">
			<div class="d-md-flex">
				<div class="item-card9-img">
					<div class="item-card2-img ">
						<a href="/Courses/Index"></a>
						<img src="../assets/images/media/Categories/11.jpg" alt="img" class="cover-image">
					</div>
					<div class="item-card9-icons">
						<a href="javascript:void(0)" class="item-card9-icons1 bg-primary"> <i class="fa fa fa-heart-o"></i></a>
						<a href="javascript:void(0)" class="item-card9-icons1 bg-secondary"> <i class="fa fa fa-share-alt"></i></a>
					</div>
					<div class="item-overly-trans">
						<a href="/Courses/Index" class="bg-blue">Popular</a>
					</div>
				</div>
				<div class="card border-0 mb-0">
					<div class="card-body p-0">
						<div class="item-card2 pt-5 ps-5">
							<div class="item-card2-desc">
								<a href="/Courses/Index" class="text-default-dark mt-2"><h3 class="mt-0">Photoshop Classes</h3></a>
								<p class="mb-0 leading-tight">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium </p>
								<div class="mt-2 mb-2">
									<ul class="icon-card-1">
										<li class="me-3"><span class="fs-14"><i class="fa fa-camera me-1"></i> PhotoShop</span></li>
										<li class="me-3"><span class="fs-14"><i class="fa fa-user me-1"></i> Bernadette</span></li>
										<li class="me-3"><span class="fs-14"><i class="fa fa-clock-o me-1"></i>45 Lectures</span></li>
										<li class="me-3"><span class="fs-14"><i class="fa fa-users me-1"></i>70,000 students</span></li>
										<li class="me-3"><span class="fs-14"><i class="fa fa-map-marker me-1"></i>Los Angles</span></li>
									</ul>
								</div>
							</div>
							<div class="">
								<div class="rating-stars d-flex">
									<h4 class="font-weight-semibold me-2">5.0</h4>
									<div class="star-ratings start-ratings-main clearfix me-3">
										<div class="stars stars-example-fontawesome stars-example-fontawesome-sm">
											<select class="example-fontawesome" name="rating" autocomplete="off">
												<option value="1">1</option>
												<option value="2">2</option>
												<option value="3">3</option>
												<option value="4">4</option>
												<option value="5" selected>5</option>
											</select>
										</div>
									</div>(1,25,252)
								</div>
							</div>
						</div>
						<div class="border-top ps-5 mt-2">
							<h4 class="font-weight-semibold fs-20 text-dark mt-4 mb-4"><i class="fe fe-tag mt-0 fs-18 me-2"></i>$42.00</h4>
							<div class="item-card9-icons2">
								<a href="javascript:void(0)" class="item-card9-icons1" data-bs-toggle="tooltip" data-bs-original-title="Like"> <i class="fe fe-heart"></i></a>
								<a href="javascript:void(0)" class="item-card9-icons1" data-bs-toggle="tooltip" data-bs-original-title="Share"> <i class="fe fe-share-2"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card overflow-hidden">
			<div class="d-md-flex">
				<div class="item-card9-img">
					<div class="item-card2-img ">
						<a href="/Courses/Index"></a>
						<img src="../assets/images/media/Categories/1.jpg" alt="img" class="cover-image">
					</div>
					<div class="item-card9-icons">
						<a href="javascript:void(0)" class="item-card9-icons1 bg-primary"> <i class="fa fa fa-heart-o"></i></a>
						<a href="javascript:void(0)" class="item-card9-icons1 bg-secondary"> <i class="fa fa fa-share-alt"></i></a>
					</div>
					<div class="item-overly-trans">
						<a href="/Courses/Index" class="bg-blue">Best Sales</a>
					</div>
				</div>
				<div class="card border-0 mb-0">
					<div class="card-body p-0">
						<div class="item-card2 pt-5 ps-5">
							<div class="item-card2-desc">
								<a href="/Courses/Index" class="text-default-dark mt-2"><h3 class="mt-0">DataScience Classes</h3></a>
								<p class="mb-0 leading-tight">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium </p>
								<div class="mt-2 mb-2">
									<ul class="icon-card-1">
										<li class="me-3"><span class="fs-14"><i class="fa fa-flask me-1"></i> DataScience</span></li>
										<li class="me-3"><span class="fs-14"><i class="fa fa-user me-1"></i> Alexandra</span></li>
										<li class="me-3"><span class="fs-14"><i class="fa fa-clock-o me-1"></i>120 Lectures</span></li>
										<li class="me-3"><span class="fs-14"><i class="fa fa-users me-1"></i>720 Students</span></li>
										<li class="me-3"><span class="fs-14"><i class="fa fa-map-marker me-1"></i>SanFrancisco</span></li>
									</ul>
								</div>
							</div>
							<div class="">
								<div class="rating-stars d-flex">
									<h4 class="font-weight-semibold me-2">5.0</h4>
									<div class="star-ratings start-ratings-main clearfix me-3">
										<div class="stars stars-example-fontawesome stars-example-fontawesome-sm">
											<select class="example-fontawesome" name="rating" autocomplete="off">
												<option value="1">1</option>
												<option value="2">2</option>
												<option value="3">3</option>
												<option value="4">4</option>
												<option value="5" selected>5</option>
											</select>
										</div>
									</div>(1,25,252)
								</div>
							</div>
						</div>
						<div class="border-top ps-5 mt-2">
							<h4 class="font-weight-semibold fs-20 text-dark mt-4 mb-4"><i class="fe fe-tag mt-0 fs-18 me-2"></i>$122.00</h4>
							<div class="item-card9-icons2">
								<a href="javascript:void(0)" class="item-card9-icons1" data-bs-toggle="tooltip" data-bs-original-title="Like"> <i class="fe fe-heart"></i></a>
								<a href="javascript:void(0)" class="item-card9-icons1" data-bs-toggle="tooltip" data-bs-original-title="Share"> <i class="fe fe-share-2"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>

<div class="center-block text-center">
	<ul class="pagination mb-5 mb-lg-0">
		<li class="page-item page-prev disabled">
			<a class="page-link" href="javascript:void(0)" tabindex="-1">Prev</a>
		</li>
		<li class="page-item active"><a class="page-link" href="javascript:void(0)">1</a></li>
		<li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
		<li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
		<li class="page-item page-next">
			<a class="page-link" href="javascript:void(0)">Next</a>
		</li>
	</ul>
</div>