<div class="card">
	<div class="card-header">
		<h3 class="card-title">Ödeme Yöntemleri</h3>
	</div>
	<div class="card-body">
		<div class="tab-content card-body br-7 border mb-0 b-0">
			<div class="panel panel-primary">
				<div class=" tab-menu-heading border-0 px-0 pt-0">
					<div class="tabs-menu1 ">
						<!-- Tabs -->
						<ul class="nav panel-tabs">
							<li class="ms-0"><a href="#tab5" class="ms-0 active" data-bs-toggle="tab"><i class="fa fa-credit-card"></i> Kredi Kartı</a></li>
							<li><a href="#tab6" data-bs-toggle="tab" class=""><i class="fa fa-paypal"></i>  Paypal</a></li>
							<li><a href="#tab7" data-bs-toggle="tab" class=""><i class="fa fa-university"></i>  Havale/Fast/EFT</a></li>
						</ul>
					</div>
				</div>
				<div class="panel-body tabs-menu-body px-0 border-0">
					<div class="tab-content">
						<div class="tab-pane show active" id="tab5">
							<div class="form-group">
								<label class="form-label">Kart Sahibinin Adı</label>
								<input type="text" class="form-control" id="name1" placeholder="Ad">
							</div>
							<div class="form-group">
								<label class="form-label">Kart Numarası</label>
								<div class="input-group">
									<input type="text" class="form-control" placeholder="Kart No..">
									<span class="input-group-text">
										<button class="btn btn-secondary" type="button">
											<i class="fa fa-cc-visa"></i> &nbsp; <i class="fa fa-cc-amex"></i> &nbsp;
											<i class="fa fa-cc-mastercard"></i>
										</button>
									</span>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-8">
									<div class="form-group">
										<label class="form-label">Geçerlilik Zamanı</label>
										<div class="input-group">
											<input type="number" class="form-control" placeholder="AA" name="expire-month">
											<input type="number" class="form-control" placeholder="YY" name="expire-year">
										</div>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="form-group">
										<label class="form-label">CVV <i class="fa fa-question-circle"></i></label>
										<input type="number" class="form-control" required="">
									</div>
								</div>
							</div>
							<a href="javascript:void(0)" class="btn btn-primary">Kaydet</a>
						</div>
						<div class="tab-pane" id="tab6">
							<p>Paypal is easiest way to pay online</p>
							<p><a href="javascript:void(0)" class="btn btn-primary"><i class="fa fa-paypal"></i> Log in my Paypal</a></p>
							<p class="mb-0"><strong>Note:</strong> Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. </p>
						</div>
						<div class="tab-pane" id="tab7">
							<p>Bank account details</p>
							<dl class="card-text">
								<dt>BANK: </dt>
								<dd> THE UNION BANK 0456</dd>
							</dl>
							<dl class="card-text">
								<dt>Account number: </dt>
								<dd> 67542897653214</dd>
							</dl>
							<dl class="card-text">
								<dt>IBAN: </dt>
								<dd>543218769</dd>
							</dl>
							<p class="mb-0"><strong>Note:</strong> Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. </p>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group row clearfix">
				<div class="col-lg-12">
					<div class="checkbox checkbox-info">
						<label class="custom-control mt-4 form-checkbox">
							<input type="checkbox" class="custom-control-input">
							<span class="custom-control-label text-dark ps-2">Şartlar ve Koşulları Kabul Ediyorum.</span>
						</label>
					</div>
				</div>
				<ul class=" mb-b-4 ">
					<li class="float-end"><a href="javascript:void(0)" class="btn btn-success  mb-0 me-2">Devam</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>