<div class="card mb-0">
    <div class="card-header">
        <h3 class="card-title">Ayarlar</h3>
    </div>
    <div class="card-body">
        <div class="settings-tab">
            <ul class="tabs-menu nav">
                <li class="ms-0"><a href="#tab1" class="ms-0 active" data-bs-toggle="tab"><i class="fe fe-settings"></i> Genel</a></li>
                <li><a href="#tab2" data-bs-toggle="tab" class=""><i class="fe fe-message-square"></i>  Sohbet</a></li>
                <li><a href="#tab3" data-bs-toggle="tab" class=""><i class="fe fe-sliders"></i>  Gelişmiş</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane show active" id="tab1">
                    <form class="form-horizontal">
                        <div class="form-group ">
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="form-label" id="examplenameInputname2">Para Birimi</label>
                                </div>
                                <div class="col-md-9">
                                    <select data-placeholder="Para Birimi Seçin..." class="form-control select2-show-search form-select languages select2-hidden-accessible" data-select2-id="12" tabindex="-1" aria-hidden="true">
                                        <option value="0" data-select2-id="14">Para Birimi Seç</option>
                                        <option value="1" data-select2-id="33">USD</option>
                                        <option value="2" data-select2-id="34">INR</option>
                                        <option value="3" data-select2-id="35">EUR</option>
                                        <option value="4" data-select2-id="36">GBP</option>
                                    </select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="37" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-7b40-container"><span class="select2-selection__rendered" id="select2-7b40-container" role="textbox" aria-readonly="true" title="Choose currency">Choose currency</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="form-label" id="examplenameInputname3">Dil:</label>
                                </div>
                                <div class="col-md-9">
                                    <select data-placeholder="Dil Seçin..." class="form-control select2-show-search form-select languages select2-hidden-accessible" data-select2-id="15" tabindex="-1" aria-hidden="true">
                                        <option value="0" data-select2-id="17">Dil Seç</option>
                                        <option value="AF" data-select2-id="38">Afrikanns</option>
                                        <option value="SQ" data-select2-id="39">Albanian</option>
                                        <option value="AR" data-select2-id="40">Arabic</option>
                                        <option value="HY" data-select2-id="41">Armenian</option>
                                        <option value="EU" data-select2-id="42">Basque</option>
                                        <option value="BN" data-select2-id="43">Bengali</option>
                                        <option value="BG" data-select2-id="44">Bulgarian</option>
                                        <option value="CA" data-select2-id="45">Catalan</option>
                                        <option value="KM" data-select2-id="46">Cambodian</option>
                                        <option value="ZH" data-select2-id="47">Chinese (Mandarin)</option>
                                        <option value="HR" data-select2-id="48">Croation</option>
                                        <option value="CS" data-select2-id="49">Czech</option>
                                        <option value="DA" data-select2-id="50">Danish</option>
                                        <option value="NL" data-select2-id="51">Dutch</option>
                                        <option value="EN" data-select2-id="52">English</option>
                                        <option value="ET" data-select2-id="53">Estonian</option>
                                        <option value="FJ" data-select2-id="54">Fiji</option>
                                        <option value="FI" data-select2-id="55">Finnish</option>
                                        <option value="FR" data-select2-id="56">French</option>
                                        <option value="KA" data-select2-id="57">Georgian</option>
                                        <option value="DE" data-select2-id="58">German</option>
                                        <option value="EL" data-select2-id="59">Greek</option>
                                        <option value="GU" data-select2-id="60">Gujarati</option>
                                        <option value="HE" data-select2-id="61">Hebrew</option>
                                        <option value="HI" data-select2-id="62">Hindi</option>
                                        <option value="HU" data-select2-id="63">Hungarian</option>
                                        <option value="IS" data-select2-id="64">Icelandic</option>
                                        <option value="ID" data-select2-id="65">Indonesian</option>
                                        <option value="GA" data-select2-id="66">Irish</option>
                                        <option value="IT" data-select2-id="67">Italian</option>
                                        <option value="JA" data-select2-id="68">Japanese</option>
                                        <option value="JW" data-select2-id="69">Javanese</option>
                                        <option value="KO" data-select2-id="70">Korean</option>
                                        <option value="LA" data-select2-id="71">Latin</option>
                                        <option value="LV" data-select2-id="72">Latvian</option>
                                        <option value="LT" data-select2-id="73">Lithuanian</option>
                                        <option value="MK" data-select2-id="74">Macedonian</option>
                                        <option value="MS" data-select2-id="75">Malay</option>
                                        <option value="ML" data-select2-id="76">Malayalam</option>
                                        <option value="MT" data-select2-id="77">Maltese</option>
                                        <option value="MI" data-select2-id="78">Maori</option>
                                        <option value="MR" data-select2-id="79">Marathi</option>
                                        <option value="MN" data-select2-id="80">Mongolian</option>
                                        <option value="NE" data-select2-id="81">Nepali</option>
                                        <option value="NO" data-select2-id="82">Norwegian</option>
                                        <option value="FA" data-select2-id="83">Persian</option>
                                        <option value="PL" data-select2-id="84">Polish</option>
                                        <option value="PT" data-select2-id="85">Portuguese</option>
                                        <option value="PA" data-select2-id="86">Punjabi</option>
                                        <option value="QU" data-select2-id="87">Quechua</option>
                                        <option value="RO" data-select2-id="88">Romanian</option>
                                        <option value="RU" data-select2-id="89">Russian</option>
                                        <option value="SM" data-select2-id="90">Samoan</option>
                                        <option value="SR" data-select2-id="91">Serbian</option>
                                        <option value="SK" data-select2-id="92">Slovak</option>
                                        <option value="SL" data-select2-id="93">Slovenian</option>
                                        <option value="ES" data-select2-id="94">IT Coursesnish</option>
                                        <option value="SW" data-select2-id="95">Swahili</option>
                                        <option value="SV" data-select2-id="96">Swedish </option>
                                        <option value="TA" data-select2-id="97">Tamil</option>
                                        <option value="TT" data-select2-id="98">Tatar</option>
                                        <option value="TE" data-select2-id="99">Telugu</option>
                                        <option value="TH" data-select2-id="100">Thai</option>
                                        <option value="BO" data-select2-id="101">Tibetan</option>
                                        <option value="TO" data-select2-id="102">Tonga</option>
                                        <option value="TR" data-select2-id="103">Turkish</option>
                                        <option value="UK" data-select2-id="104">Ukranian</option>
                                        <option value="UR" data-select2-id="105">Urdu</option>
                                        <option value="UZ" data-select2-id="106">Uzbek</option>
                                        <option value="VI" data-select2-id="107">Vietnamese</option>
                                        <option value="CY" data-select2-id="108">Welsh</option>
                                        <option value="XH" data-select2-id="109">Xhosa</option>
                                    </select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="110" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-kfnq-container"><span class="select2-selection__rendered" id="select2-kfnq-container" role="textbox" aria-readonly="true" title="Choose Language">Choose Language</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="form-label">Telefon Numarası:</label>
                                </div>
                                <div class="col-md-9">
                                    <div class="form-controls-stacked d-md-flex">
                                        <label class="custom-control custom-radio me-4">
                                            <input type="radio" class="custom-control-input" name="example-radios3" value="option1" checked="">
                                            <span class="custom-control-label">Herkesten Gizle</span>
                                        </label>
                                        <label class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" name="example-radios3" value="option2">
                                            <span class="custom-control-label">Sadece Kurslarıımın Eğitmenleri </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-0">
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="form-label" id="inputPassword5">Profil:</label>
                                </div>
                                <div class="col-md-9">
                                    <div class="form-controls-stacked d-md-flex">
                                        <label class="custom-control custom-radio me-4">
                                            <input type="radio" class="custom-control-input" name="example-radios4" value="option1" checked="">
                                            <span class="custom-control-label">Herkesten Gizle</span>
                                        </label>
                                        <label class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" name="example-radios4" value="option2">
                                            <span class="custom-control-label">Sadece Kurslarıımın Eğitmenleri </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane" id="tab2">
                    <div class="form-group ">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="form-label">Font-size:</label>
                            </div>
                            <div class="col-md-9">
                                <div class="form-controls-stacked d-sm-flex">
                                    <label class="custom-control custom-radio me-4">
                                        <input type="radio" class="custom-control-input" name="example-radios3" value="option1" checked="">
                                        <span class="custom-control-label">Small</span>
                                    </label>
                                    <label class="custom-control custom-radio me-4">
                                        <input type="radio" class="custom-control-input" name="example-radios3" value="option2">
                                        <span class="custom-control-label">Medium</span>
                                    </label>
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" name="example-radios3" value="option2">
                                        <span class="custom-control-label">Large</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="form-label">Chat:</label>
                            </div>
                            <div class="col-md-9">
                                <label class="form-switch ps-0">
                                    <input type="checkbox" name="form-switch-checkbox" class="form-switch-input">
                                    <span class="form-switch-indicator"></span>
                                    <span class="form-switch-description">On/Off</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="form-label">Chat Type:</label>
                            </div>
                            <div class="col-md-9">
                                <div class="form-controls-stacked d-md-flex">
                                    <label class="custom-control custom-radio me-4">
                                        <input type="radio" class="custom-control-input" name="example-radios4" value="option1" checked="">
                                        <span class="custom-control-label">Public Chat</span>
                                    </label>
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" name="example-radios4" value="option2">
                                        <span class="custom-control-label">Private Chat</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="form-label">Enable Email Notifications:</label>
                            </div>
                            <div class="col-md-9">
                                <label class="form-switch ps-0">
                                    <input type="checkbox" name="form-switch-checkbox" class="form-switch-input">
                                    <span class="form-switch-indicator"></span>
                                    <span class="form-switch-description">On/Off</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="form-label">Back Up Chat:</label>
                            </div>
                            <div class="col-md-9">
                                <label class="form-switch ps-0">
                                    <input type="checkbox" name="form-switch-checkbox" class="form-switch-input">
                                    <span class="form-switch-indicator"></span>
                                    <span class="form-switch-description">On/Off</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-0">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="form-label">Delete Chat:</label>
                            </div>
                            <div class="col-md-9">
                                <div class="form-controls-stacked d-md-flex">
                                    <label class="custom-control custom-radio me-4">
                                        <input type="radio" class="custom-control-input" name="example-radios5" value="option1" checked="">
                                        <span class="custom-control-label">Delete Read Chat</span>
                                    </label>
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" name="example-radios5" value="option2">
                                        <span class="custom-control-label">Delete All</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab3">
                    <form class="form-horizontal">
                        <div class="form-group ">
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="form-label">Auto-Coursevance:</label>
                                </div>
                                <div class="col-md-9">
                                    <label class="form-switch ps-0">
                                        <input type="checkbox" name="form-switch-checkbox" class="form-switch-input">
                                        <span class="form-switch-indicator"></span>
                                        <span class="form-switch-description">Enable/Disable</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="form-label" id="inputEmail4">Color Theme:</label>
                                </div>
                                <div class="col-md-9">
                                    <div class="form-controls-stacked d-flex">
                                        <label class="custom-control custom-radio me-4">
                                            <input type="radio" class="custom-control-input" name="example-radios" value="option1" checked="">
                                            <span class="custom-control-label">Light</span>
                                        </label>
                                        <label class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" name="example-radios" value="option2">
                                            <span class="custom-control-label">Dark</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="form-label">Dashboard Theme:</label>
                                </div>
                                <div class="col-md-9">
                                    <select data-placeholder="Choose a Language..." class="form-control select2 form-select languages select2-hidden-accessible" data-select2-id="1" tabindex="-1" aria-hidden="true">
                                        <option value="0" data-select2-id="3">Choose Theme</option>
                                        <option value="1">Default Theme</option>
                                        <option value="2">Light Theme</option>
                                        <option value="3">Dark Theme</option>
                                        <option value="4">Sidebar light Theme</option>
                                        <option value="5">Sidebar Dark Theme</option>
                                        <option value="6">RTL</option>
                                    </select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="2" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-s4tm-container"><span class="select2-selection__rendered" id="select2-s4tm-container" role="textbox" aria-readonly="true" title="Choose Theme">Choose Theme</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="form-label" id="inputEmail5">Posted ADs:</label>
                                </div>
                                <div class="col-md-9">
                                    <div class="form-controls-stacked d-md-flex">
                                        <label class="custom-control custom-radio me-4">
                                            <input type="radio" class="custom-control-input" name="example-radios1" value="option1" checked="">
                                            <span class="custom-control-label">Directly</span>
                                        </label>
                                        <label class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" name="example-radios1" value="option2">
                                            <span class="custom-control-label">By Coursemin Conformation</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="form-label">Comments Visible:</label>
                                </div>
                                <div class="col-md-9">
                                    <div class="form-controls-stacked d-md-flex">
                                        <label class="custom-control custom-radio me-4">
                                            <input type="radio" class="custom-control-input" name="example-radios2" value="option1" checked="">
                                            <span class="custom-control-label">Directly</span>
                                        </label>
                                        <label class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" name="example-radios2" value="option2">
                                            <span class="custom-control-label">By Coursemin Conformation</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="form-label">System Notification:</label>
                                </div>
                                <div class="col-md-9">
                                    <label class="form-switch d-inline-block me-5 ps-0">
                                        <input type="checkbox" name="form-switch-checkbox" class="form-switch-input">
                                        <span class="form-switch-indicator"></span>
                                        <span class="form-switch-description">On/Off</span>
                                    </label>
                                    <label class="form-switch d-inline-block"><a href="javascript:void(0)" class="btn-link">Coursed Another Settings</a></label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="form-label">Mail Notification:</label>
                                </div>
                                <div class="col-md-9">
                                    <label class="form-switch d-inline-block me-5 ps-0">
                                        <input type="checkbox" name="form-switch-checkbox" class="form-switch-input">
                                        <span class="form-switch-indicator"></span>
                                        <span class="form-switch-description">On/Off</span>
                                    </label>
                                    <label class="form-switch d-inline-block"><a href="javascript:void(0)" class="btn-link">Coursed Another Settings</a></label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-0">
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="form-label">Auto Watch Comments:</label>
                                </div>
                                <div class="col-md-9">
                                    <label class="form-switch d-inline-block me-5 ps-0">
                                        <input type="checkbox" name="form-switch-checkbox" class="form-switch-input">
                                        <span class="form-switch-indicator"></span>
                                        <span class="form-switch-description">On/Off</span>
                                    </label>
                                    <label class="form-switch d-inline-block"><a href="javascript:void(0)" class="btn-link">Coursed Another Settings</a></label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <a href="javascript:void(0)" class="btn btn-primary">Kaydet</a>
        <a href="javascript:void(0)" class="btn btn-secondary">İptal</a>
    </div>
</div>


<script>


  

    //$(document).ready(function () {
    //    $(".side-menu__item.active").removeClass('active');
    //    $(this).addClass("active");
    //    console.log($(this));
    //    ;
    //});







</script>

