<div class=" mb-lg-0">
	<div class="">
		<div class="item2-gl">
			<div class="mb-0">
				<div class="">
					<div class="p-5 bg-white item2-gl-nav d-flex">
						<div class="d-block">
							<h5 class="mb-0 mt-0">30 kayıttan 1 ile 10 arası gösteriliyor</h5>
							<label class="me-2 mt-3 mb-sm-1">Sırala:</label>
							<select name="item" class="form-control select2 w-70">
								<option value="1">En sonuncu</option>
								<option value="2">En Eski</option>
								<option value="3">Ücretler:Düşükten Yükseğe</option>
								<option value="5">Ücretler:Yüksekten Düşüğe</option>
							</select>
						</div>
						<ul class="nav item2-gl-menu ms-auto">
							<li class="border-end"><a href="#tab-11" class="active show" data-bs-toggle="tab" title="Liste"><i class="fa fa-list"></i></a></li>
							<li><a href="#tab-12" data-bs-toggle="tab" class=" " title="Tablo"><i class="fa fa-th"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="tab-content item-list2">
				<div class="tab-pane active" >
					@for (int i = 0; i < 12; i++)
					{
						<div class="card overflow-hidden">
							<div class="d-md-flex">
								<div class="d-flex flex-column item-card9-img">
									<div class="item-card9-imgs">
										<a href="/Instructor/Instructor"></a>
										<img src="../assets/images/media/Categories/2.jpg" alt="img" class="cover-image">
									</div>
									@*<div class="item-overly-trans">
								<a href="/Instructor/Instructor" class="bg-primary">Fotoğraf</a>
								</div>*@

									<div class="row p-1">
										<ul class="col-lg-12 ps-6 pb-2">
											<li class="me-3"><span class="fs-14"><i class="fa fa-briefcase me-1"></i> Business</span></li>
											<li class="me-3"><span class="fs-14"><i class="fa fa-user me-1"></i> Stephanie</span></li>
											<li class="me-3"><span class="fs-14"><i class="fa fa-clock-o me-1"></i>37 Lectures</span></li>
											<li class="me-3"><span class="fs-14"><i class="fa fa-users me-1"></i>45,000 students</span></li>
											<li class="me-3"><span class="fs-14"><i class="fa fa-briefcase me-1"></i> Business</span></li>
											<li class="me-3"><span class="fs-14"><i class="fa fa-user me-1"></i> Stephanie</span></li>
											<li class="me-3"><span class="fs-14"><i class="fa fa-clock-o me-1"></i>37 Lectures</span></li>
											<li class="me-3"><span class="fs-14"><i class="fa fa-users me-1"></i>45,000 students</span></li>
										</ul>

									</div>
								</div>

								<div class="card border-0 mb-0">
									<div class="card-body p-0">
										<div class="item-card9 ps-5 pt-5">
											<a href="/Instructor/Instructor" class="text-default-dark"><h3 class="">Jacob Smith</h3></a>
											<p class="mb-0 mt-1 lead">
												Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
												Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.
												Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.
												Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
											</p>

											<div class="col-lg-12 mt-2 mb-2">
												<div class="row">
													<ul class="col-lg-4">
														<li class="me-3"><span class="fs-14"><i class="fa fa-briefcase me-1"></i> Business</span></li>
														<li class="me-3"><span class="fs-14"><i class="fa fa-user me-1"></i> Stephanie</span></li>
														<li class="me-3"><span class="fs-14"><i class="fa fa-clock-o me-1"></i>37 Lectures</span></li>
														<li class="me-3"><span class="fs-14"><i class="fa fa-users me-1"></i>45,000 students</span></li>
														<li class="me-3"><span class="fs-14"><i class="fa fa-briefcase me-1"></i> Business</span></li>
														<li class="me-3"><span class="fs-14"><i class="fa fa-user me-1"></i> Stephanie</span></li>
														<li class="me-3"><span class="fs-14"><i class="fa fa-clock-o me-1"></i>37 Lectures</span></li>
														<li class="me-3"><span class="fs-14"><i class="fa fa-users me-1"></i>45,000 students</span></li>
													</ul>
													<ul class="col-lg-4">
														<li class="me-3"><span class="fs-14"><i class="fa fa-briefcase me-1"></i> Business</span></li>
														<li class="me-3"><span class="fs-14"><i class="fa fa-user me-1"></i> Stephanie</span></li>
														<li class="me-3"><span class="fs-14"><i class="fa fa-clock-o me-1"></i>37 Lectures</span></li>
														<li class="me-3"><span class="fs-14"><i class="fa fa-users me-1"></i>45,000 students</span></li>
														<li class="me-3"><span class="fs-14"><i class="fa fa-briefcase me-1"></i> Business</span></li>
														<li class="me-3"><span class="fs-14"><i class="fa fa-user me-1"></i> Stephanie</span></li>
														<li class="me-3"><span class="fs-14"><i class="fa fa-clock-o me-1"></i>37 Lectures</span></li>
														<li class="me-3"><span class="fs-14"><i class="fa fa-users me-1"></i>45,000 students</span></li>
													</ul>
													<ul class="col-lg-4">
														<li class="me-3"><span class="fs-14"><i class="fa fa-briefcase me-1"></i> Business</span></li>
														<li class="me-3"><span class="fs-14"><i class="fa fa-user me-1"></i> Stephanie</span></li>
														<li class="me-3"><span class="fs-14"><i class="fa fa-clock-o me-1"></i>37 Lectures</span></li>
														<li class="me-3"><span class="fs-14"><i class="fa fa-users me-1"></i>45,000 students</span></li>
														<li class="me-3"><span class="fs-14"><i class="fa fa-briefcase me-1"></i> Business</span></li>
														<li class="me-3"><span class="fs-14"><i class="fa fa-user me-1"></i> Stephanie</span></li>
														<li class="me-3"><span class="fs-14"><i class="fa fa-clock-o me-1"></i>37 Lectures</span></li>
														<li class="me-3"><span class="fs-14"><i class="fa fa-users me-1"></i>45,000 students</span></li>
													</ul>
												</div>
											</div>

										</div>
										<div class="border-top ps-5 mt-2">


											<div class="rating-stars d-flex mt-3 mb-3">
												<h4 class="font-weight-semibold me-2">4.2</h4>
												<div class="star-ratings start-ratings-main clearfix me-3">
													<div class="stars stars-example-fontawesome stars-example-fontawesome-sm">
														<div class="br-wrapper br-theme-fontawesome-stars">
															<select class="example-fontawesome" name="rating" autocomplete="off" style="display: none;">
																<option value="1">1</option>
																<option value="2">2</option>
																<option value="3">3</option>
																<option value="4" selected="">4</option>
																<option value="5">5</option>
															</select>
														</div>
													</div>
												</div>(4,24,525)
											</div>

											<div class="item-card9-icons2">
												<a href="javascript:void(0)" class="item-card9-icons1" data-bs-toggle="tooltip" data-bs-original-title="Like"> <i class="fe fe-heart"></i></a>
												<a href="javascript:void(0)" class="item-card9-icons1" data-bs-toggle="tooltip" data-bs-original-title="Share"> <i class="fe fe-share-2"></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					}
				</div>
				<div class="tab-pane" id="tab-12">
					<div class="row">
						<div class="col-lg-6 col-md-12 col-xl-6">
							<div class="card overflow-hidden">
								<div class="item-card9-img">
									<div class="item-card9-imgs">
										<a href="/Instructor/Instructor"></a>
										<img src="../assets/images/media/Categories/2.jpg" alt="img" class="cover-image">
									</div>
									<div class="item-card9-icons">
										<a href="javascript:void(0)" class="item-card9-icons1 bg-primary"> <i class="fa fa fa-heart-o"></i></a>
										<a href="javascript:void(0)" class="item-card9-icons1 bg-secondary"> <i class="fa fa fa-share-alt"></i></a>
									</div>
									<div class="item-overly-trans">
										<a href="/Instructor/Instructor" class="bg-primary">Popular</a>
									</div>
								</div>
								<div class="card-body pb-0">
									<div class="item-card9">
										<span class="item-card-badge"><i class="fa fa-briefcase me-1"></i> Business</span>
										<a href="/Instructor/Instructor" class="text-default-dark mt-2"><h3 class="mt-2 mb-2">Business Management</h3></a>
										<p class="mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium </p>
									</div>
									<div class="mt-2">
										<div class="rating-stars d-flex">
											<h4 class="font-weight-semibold me-2">4.2</h4>
											<div class="star-ratings start-ratings-main clearfix me-3">
												<div class="stars stars-example-fontawesome stars-example-fontawesome-sm">
													<select class="example-fontawesome" name="rating" autocomplete="off">
														<option value="1">1</option>
														<option value="2">2</option>
														<option value="3">3</option>
														<option value="4" selected>4</option>
														<option value="5">5</option>
													</select>
												</div>
											</div>(4,24,525)
										</div>
									</div>
								</div>
								<div class="border-top ps-5  mt-2">
									<h4 class="font-weight-semibold fs-20 text-dark mt-4 mb-4"><i class="fe fe-tag mt-0 fs-18 me-2"></i>$263.99</h4>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-12 col-xl-6">
							<div class="card overflow-hidden">
								<div class="ribbon ribbon-top-left text-danger"><span class="bg-danger">Offer</span></div>
								<div class="item-card9-img">
									<div class="item-card9-imgs">
										<a href="/Instructor/Instructor"></a>
										<img src="../assets/images/media/Categories/4.jpg" alt="img" class="cover-image">
									</div>
									<div class="item-card9-icons">
										<a href="javascript:void(0)" class="item-card9-icons1 bg-primary"> <i class="fa fa fa-heart-o"></i></a>
										<a href="javascript:void(0)" class="item-card9-icons1 bg-secondary"> <i class="fa fa fa-share-alt"></i></a>
									</div>
									<div class="item-overly-trans">
										<a href="/Instructor/Instructor" class="bg-primary">High Rated</a>
									</div>
								</div>
								<div class="card-body pb-0">
									<div class="item-card9">
										<span class="item-card-badge"><i class="fa fa-cube me-1"></i> Networking</span>
										<a href="/Instructor/Instructor" class="text-default-dark"><h3 class="mt-2 mb-2">Networking Classes</h3></a>
										<p class="mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium </p>
									</div>
									<div class="mt-2">
										<div class="rating-stars d-flex">
											<h4 class="font-weight-semibold me-2">5.0</h4>
											<div class="star-ratings start-ratings-main clearfix me-3">
												<div class="stars stars-example-fontawesome stars-example-fontawesome-sm">
													<select class="example-fontawesome" name="rating" autocomplete="off">
														<option value="1">1</option>
														<option value="2">2</option>
														<option value="3">3</option>
														<option value="4">4</option>
														<option value="5" selected>5</option>
													</select>
												</div>
											</div>(12,00,525)
										</div>
									</div>
								</div>
								<div class="border-top ps-5 mt-2">
									<h4 class="font-weight-semibold fs-20 text-dark mt-4 mb-4"><i class="fe fe-tag mt-0 fs-18 me-2"></i>$745.00<span class="strike-text mx-2 text-default fs-16">$896.00</span></h4>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-12 col-xl-6">
							<div class="card overflow-hidden">
								<div class="ribbon ribbon-top-left text-primary"><span class="bg-danger">Offer</span></div>
								<div class="item-card9-img">
									<div class="item-card9-imgs">
										<a href="/Instructor/Instructor"></a>
										<img src="../assets/images/media/Categories/9.jpg" alt="img" class="cover-image">
									</div>
									<div class="item-card9-icons">
										<a href="javascript:void(0)" class="item-card9-icons1 bg-primary"> <i class="fa fa fa-heart-o"></i></a>
										<a href="javascript:void(0)" class="item-card9-icons1 bg-secondary"> <i class="fa fa fa-share-alt"></i></a>
									</div>
									<div class="item-overly-trans">
										<a href="/Instructor/Instructor" class="bg-blue">Popular</a>
									</div>
								</div>
								<div class="card-body pb-0">
									<div class="item-card9">
										<span class="item-card-badge"><i class="fa fa-paint-brush me-1"></i> Beautician</span>
										<a href="/Instructor/Instructor" class="text-default-dark mt-2"><h3 class="mt-2 mb-2">Beautician Classes</h3></a>
										<p class="mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium </p>
									</div>
									<div class="mt-2">
										<div class="rating-stars d-flex">
											<h4 class="font-weight-semibold me-2">4.3</h4>
											<div class="star-ratings start-ratings-main clearfix me-3">
												<div class="stars stars-example-fontawesome stars-example-fontawesome-sm">
													<select class="example-fontawesome" name="rating" autocomplete="off">
														<option value="1">1</option>
														<option value="2">2</option>
														<option value="3">3</option>
														<option value="4" selected>4</option>
														<option value="5">5</option>
													</select>
												</div>
											</div>(67,525)
										</div>
									</div>
								</div>
								<div class="border-top ps-5 mt-2">
									<h4 class="font-weight-semibold fs-20 text-dark mt-4 mb-4"><i class="fe fe-tag mt-0 fs-18 me-2"></i>$149.00</h4>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-12 col-xl-6">
							<div class="card overflow-hidden">
								<div class="item-card9-img">
									<div class="item-card9-imgs">
										<a href="/Instructor/Instructor"></a>
										<img src="../assets/images/media/Categories/10.jpg" alt="img" class="cover-image">
									</div>
									<div class="item-card9-icons">
										<a href="javascript:void(0)" class="item-card9-icons1 bg-primary"> <i class="fa fa fa-heart-o"></i></a>
										<a href="javascript:void(0)" class="item-card9-icons1 bg-secondary"> <i class="fa fa fa-share-alt"></i></a>
									</div>
								</div>
								<div class="card-body pb-0">
									<div class="item-card2">
										<div class="item-card2-desc">
											<span class="item-card-badge"><i class="fa fa-music me-1"></i> Music</span>
											<a href="/Instructor/Instructor" class="text-default-dark mt-2"><h3 class="mt-2 mb-2">Guitar Classes</h3></a>
											<p class="mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium </p>
										</div>
									</div>
									<div class="mt-2">
										<div class="rating-stars d-flex">
											<h4 class="font-weight-semibold me-2">4.9</h4>
											<div class="star-ratings start-ratings-main clearfix me-3">
												<div class="stars stars-example-fontawesome stars-example-fontawesome-sm">
													<select class="example-fontawesome" name="rating" autocomplete="off">
														<option value="1">1</option>
														<option value="2">2</option>
														<option value="3">3</option>
														<option value="4" selected>4</option>
														<option value="5">5</option>
													</select>
												</div>
											</div>(99,525)
										</div>
									</div>
								</div>
								<div class="border-top ps-5 mt-2">
									<h4 class="font-weight-semibold fs-20 text-dark mt-4 mb-4"><i class="fe fe-tag mt-0 fs-18 me-2"></i>$13.00</h4>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-12 col-xl-6">
							<div class="card overflow-hidden">
								<div class="item-card9-img">
									<div class="item-card9-imgs">
										<a href="/Instructor/Instructor"></a>
										<img src="../assets/images/media/Categories/11.jpg" alt="img" class="cover-image">
									</div>
									<div class="item-card9-icons">
										<a href="javascript:void(0)" class="item-card9-icons1 bg-primary"> <i class="fa fa fa-heart-o"></i></a>
										<a href="javascript:void(0)" class="item-card9-icons1 bg-secondary"> <i class="fa fa fa-share-alt"></i></a>
									</div>
									<div class="item-overly-trans">
										<a href="/Instructor/Instructor" class="bg-blue">Popular</a>
									</div>
								</div>
								<div class="card-body pb-0">
									<div class="item-card2">
										<div class="item-card2-desc">
											<span class="item-card-badge"><i class="fa fa-camera me-1"></i> PhotoShop</span>
											<a href="/Instructor/Instructor" class="text-default-dark mt-2"><h3 class="mt-2 mb-2">PhotoShop Design</h3></a>
											<p class="mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium </p>
										</div>
									</div>
									<div class="mt-2">
										<div class="rating-stars d-flex">
											<h4 class="font-weight-semibold me-2">5.0</h4>
											<div class="star-ratings start-ratings-main clearfix me-3">
												<div class="stars stars-example-fontawesome stars-example-fontawesome-sm">
													<select class="example-fontawesome" name="rating" autocomplete="off">
														<option value="1">1</option>
														<option value="2">2</option>
														<option value="3">3</option>
														<option value="4">4</option>
														<option value="5" selected>5</option>
													</select>
												</div>
											</div>(99,525)
										</div>
									</div>
								</div>
								<div class="border-top ps-5 mt-2">
									<h4 class="font-weight-semibold fs-20 text-dark mt-4 mb-4"><i class="fe fe-tag mt-0 fs-18 me-2"></i>$42.00</h4>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-12 col-xl-6">
							<div class="card overflow-hidden">
								<div class="item-card9-img">
									<div class="item-card9-imgs">
										<a href="/Instructor/Instructor"></a>
										<img src="../assets/images/media/Categories/1.jpg" alt="img" class="cover-image">
									</div>
									<div class="item-card9-icons">
										<a href="javascript:void(0)" class="item-card9-icons1 bg-primary"> <i class="fa fa fa-heart-o"></i></a>
										<a href="javascript:void(0)" class="item-card9-icons1 bg-secondary"> <i class="fa fa fa-share-alt"></i></a>
									</div>
									<div class="item-overly-trans">
										<a href="/Instructor/Instructor" class="bg-primary">Best Sales</a>
									</div>
								</div>
								<div class="card-body pb-0">
									<div class="item-card2">
										<div class="item-card2-desc">
											<span class="item-card-badge"><i class="fa fa-flask me-1"></i> DataScience</span>
											<a href="/Instructor/Instructor" class="text-default-dark mt-2"><h3 class="mt-2 mb-2">Data Science</h3></a>
											<p class="mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium </p>
										</div>
									</div>
									<div class="mt-2">
										<div class="rating-stars d-flex">
											<h4 class="font-weight-semibold me-2">5.0</h4>
											<div class="star-ratings start-ratings-main clearfix me-3">
												<div class="stars stars-example-fontawesome stars-example-fontawesome-sm">
													<select class="example-fontawesome" name="rating" autocomplete="off">
														<option value="1">1</option>
														<option value="2">2</option>
														<option value="3">3</option>
														<option value="4">4</option>
														<option value="5" selected>5</option>
													</select>
												</div>
											</div>(1,25,252)
										</div>
									</div>
								</div>
								<div class="border-top ps-5 mt-2">
									<h4 class="font-weight-semibold fs-20 text-dark mt-4 mb-4"><i class="fe fe-tag mt-0 fs-18 me-2"></i>$263.99</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="center-block text-center">
			<ul class="pagination mb-5 mb-lg-0">
				<li class="page-item page-prev disabled">
					<a class="page-link" href="javascript:void(0)" tabindex="-1">Prev</a>
				</li>
				<li class="page-item active"><a class="page-link" href="javascript:void(0)">1</a></li>
				<li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
				<li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
				<li class="page-item page-next">
					<a class="page-link" href="javascript:void(0)">Next</a>
				</li>
			</ul>
		</div>
	</div>
</div>






