
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="sptb">
	<div class="container">
		<div class="row">
			<!--Left Side Content-->
			<div class="col-xl-3 col-lg-4 col-md-12">
				<div class="card">
					<div class="card-body">
						<div class="input-group">
							<input type="text" class="form-control br-ts-7 br-bs-7" placeholder="Ara">
							<div class="input-group-text ">
								<button type="button" class="btn btn-primary br-te-7 br-be-7">
									Ara
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header">
						<h3 class="card-title">Kategori</h3>
					</div>
					<div class="card-body">
						<div class="" id="container">
							<div class="filter-product-checkboxs">
								<label class="custom-control form-checkbox mb-3">
									<input type="checkbox" class="custom-control-input" name="checkbox1" value="option1">
									<span class="custom-control-label">
										<a href="javascript:void(0)" class="text-dark">İşletme<span class="label label-primary br-7 float-end">14</span></a>
									</span>
								</label>
								<label class="custom-control form-checkbox mb-3">
									<input type="checkbox" class="custom-control-input" name="checkbox2" value="option2">
									<span class="custom-control-label">
										<a href="javascript:void(0)" class="text-dark">Veri Bilimi<span class="label label-primary br-7 float-end">22</span></a>
									</span>
								</label>
								<label class="custom-control form-checkbox mb-3">
									<input type="checkbox" class="custom-control-input" name="checkbox3" value="option3">
									<span class="custom-control-label">
										<a href="javascript:void(0)" class="text-dark">IT<span class="label label-primary br-7 float-end">78</span></a>
									</span>
								</label>
								<label class="custom-control form-checkbox mb-3">
									<input type="checkbox" class="custom-control-input" name="checkbox4" value="option3">
									<span class="custom-control-label">
										<a href="javascript:void(0)" class="text-dark">Pazarlama<span class="label label-primary br-7 float-end">35</span></a>
									</span>
								</label>
								<label class="custom-control form-checkbox mb-3">
									<input type="checkbox" class="custom-control-input" name="checkbox5" value="option3">
									<span class="custom-control-label">
										<a href="javascript:void(0)" class="text-dark">Matematik<span class="label label-primary br-7 float-end">23</span></a>
									</span>
								</label>
								<label class="custom-control form-checkbox mb-3">
									<input type="checkbox" class="custom-control-input" name="checkbox6" value="option3">
									<span class="custom-control-label">
										<a href="javascript:void(0)" class="text-dark">Fotoğrafçılık<span class="label label-primary br-7 float-end">14</span></a>
									</span>
								</label>
								<label class="custom-control form-checkbox mb-3">
									<input type="checkbox" class="custom-control-input" name="checkbox7" value="option3">
									<span class="custom-control-label">
										<a href="javascript:void(0)" class="text-dark">Edebiyat<span class="label label-primary br-7 float-end">45</span></a>
									</span>
								</label>
								<label class="custom-control form-checkbox mb-3">
									<input type="checkbox" class="custom-control-input" name="checkbox7" value="option3">
									<span class="custom-control-label">
										<a href="javascript:void(0)" class="text-dark">Hukuk<span class="label label-primary br-7 float-end">34</span></a>
									</span>
								</label>
								<label class="custom-control form-checkbox mb-3">
									<input type="checkbox" class="custom-control-input" name="checkbox7" value="option3">
									<span class="custom-control-label">
										<a href="javascript:void(0)" class="text-dark">Sağlık<span class="label label-primary br-7 float-end">12</span></a>
									</span>
								</label>
								<label class="custom-control form-checkbox mb-3">
									<input type="checkbox" class="custom-control-input" name="checkbox7" value="option3">
									<span class="custom-control-label">
										<a href="javascript:void(0)" class="text-dark">Dijital Pazarlama<span class="label label-primary br-7 float-end">18</span></a>
									</span>
								</label>
								<label class="custom-control form-checkbox mb-3">
									<input type="checkbox" class="custom-control-input" name="checkbox7" value="option3">
									<span class="custom-control-label">
										<a href="javascript:void(0)" class="text-dark">Web Tasarım<span class="label label-primary br-7 float-end">02</span></a>
									</span>
								</label>
								<label class="custom-control form-checkbox mb-3">
									<input type="checkbox" class="custom-control-input" name="checkbox7" value="option3">
									<span class="custom-control-label">
										<a href="javascript:void(0)" class="text-dark">Diller<span class="label label-primary br-7 float-end">15</span></a>
									</span>
								</label>
								<label class="custom-control form-checkbox mb-3">
									<input type="checkbox" class="custom-control-input" name="checkbox7" value="option3">
									<span class="custom-control-label">
										<a href="javascript:void(0)" class="text-dark">Uygulama Geliştiricisi<span class="label label-primary br-7 float-end">32</span></a>
									</span>
								</label>
							</div>
						</div>
					</div>
					<div class="card-header border-top">
						<h3 class="card-title">Seviyeler</h3>
					</div>
					<div class="card-body">
						<div class="filter-product-checkboxs">
							<label class="custom-control form-checkbox mb-2">
								<input type="checkbox" class="custom-control-input" name="checkbox11" value="option1">
								<span class="custom-control-label">
									Başlangıç
								</span>
							</label>
							<label class="custom-control form-checkbox mb-2">
								<input type="checkbox" class="custom-control-input" name="checkbox12" value="option2">
								<span class="custom-control-label">
									Orta düzey
								</span>
							</label>
							<label class="custom-control form-checkbox mb-0">
								<input type="checkbox" class="custom-control-input" name="checkbox13" value="option3">
								<span class="custom-control-label">
									Gelişmiş
								</span>
							</label>
						</div>
					</div>
					<div class="card-header border-top">
						<h3 class="card-title">Kurs Tipi</h3>
					</div>
					<div class="card-body">
						<div class="filter-product-checkboxs">
							<label class="custom-control form-checkbox mb-2">
								<input type="checkbox" class="custom-control-input" name="checkbox1" value="option1">
								<span class="custom-control-label">
									Ücretsiz
								</span>
							</label>
							<label class="custom-control form-checkbox mb-0">
								<input type="checkbox" class="custom-control-input" name="checkbox2" value="option2">
								<span class="custom-control-label">
									Ücretli
								</span>
							</label>
						</div>
					</div>
					<div class="card-header border-top">
						<h3 class="card-title">Süre</h3>
					</div>
					<div class="card-body">
						<div class="filter-product-checkboxs">
							<label class="custom-control form-checkbox mb-2">
								<input type="checkbox" class="custom-control-input" name="checkbox1" value="option1">
								<span class="custom-control-label">
									+5saat
								</span>
							</label>
							<label class="custom-control form-checkbox mb-2">
								<input type="checkbox" class="custom-control-input" name="checkbox2" value="option2">
								<span class="custom-control-label">
									+10saat
								</span>
							</label>
							<label class="custom-control form-checkbox mb-2">
								<input type="checkbox" class="custom-control-input" name="checkbox2" value="option3">
								<span class="custom-control-label">
									+20saat
								</span>
							</label>
							<label class="custom-control form-checkbox mb-0">
								<input type="checkbox" class="custom-control-input" name="checkbox2" value="option4">
								<span class="custom-control-label">
									+30saat
								</span>
							</label>
						</div>
					</div>
					<div class="card-footer">
						<a href="javascript:void(0)" class="btn btn-primary btn-block">Filtreyi Uygula</a>
					</div>
				</div>
			</div>
			<!--/Left Side Content-->
			<!--Coursed Lists-->
			<div class="col-xl-9 col-lg-8 col-md-12" id="tab-11">
				<!--Coursed lists-->
				
				<!--/Coursed lists-->
			</div>
			<!--/Coursed Lists-->
		</div>
	</div>
</section>
<!--/Coursed Listing-->
<script>



	function getPartialView()
  {
      var link='@Url.Action("LoadPartial","Search")';
      
        $.get(link , function (data) {
            
            $('#tab-11').html(data);
        });
      
  }





</script>