<div class="header-main">
    <!-- Mobile Header -->
    <div class="sticky">
        <div class="horizontal-header clearfix ">
            <div class="container">
                <a id="horizontal-navtoggle" class="animated-arrow"><span></span></a>
                <span class="smllogo"><img src="~/assets/images/brand/logo1.png" width="120" alt="img" /></span>
                <span class="smllogo-white"><img src="~/assets/images/brand/logo.png" width="120" alt="img" /></span>
                <a href="tel:245-6325-3256" class="callusbtn"><i class="icon icon-phone" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
    <!-- /Mobile Header -->
    <!--Horizontal-main -->
    <div class="horizontal-main header-style1 bg-dark-transparent clearfix p-0 pt-0 border-bottom border-white-transparent">
        <div class="horizontal-mainwrapper container clearfix">
            <div class="desktoplogo">
                <a href="/Home/Index">
                    <img src="~/assets/images/brand/logoEduiko.png" alt="img">
                </a>
            </div>
            <div class="desktoplogo-1">
                <a href="index.html">
                    <img src="~/assets/images/brand/logoEduiko.png" class="header-dark" alt="img" style=" max-height: 100px; margin-top: -24px; margin-left:50px;>
                    <img src="~/assets/images/brand/logo1.png" class="header-brand-img header-white" alt="logo">
                </a>
            </div>
            <nav class="horizontalMenu clearfix d-md-flex">
                <ul class="horizontalMenu-list">
                    <li aria-haspopup="true"><a href="/Home/Index">Anasayfa </a></li>
                    <li aria-haspopup="true"><a href="/Search/Index">Ara </a></li>
                    <li aria-haspopup="true"><a href="#">Öğretmenler </a></li>
                    <li aria-haspopup="true"><a href="#">Teknik Destek</a></li>
                    <li aria-haspopup="true"><a href="/Home/About">Hakkımızda</a></li>
                    <li aria-haspopup="true"><a href="/Basket/Index"><i class="fe fe-shopping-cart"></i></a></li>
                    <li aria-haspopup="true"><a href="/Search/Index" class="border-start border-white-transparent"><i class="fe fe-search"></i></a></li>
                    <li aria-haspopup="true" class="p-0 mt-1">
                        <span><a class="btn btn-secondary" href="/Account/Register">Kayıt Ol</a></span>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div><!--/Horizontal-main -->