<div class="top-bar top-bar-light">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-7 col-sm-4 col-12">
                <div class="top-bar-start d-flex">
                    <div class="clearfix">
                        <ul class="socials">
                            <li>
                                <a class="social-icon text-dark" href="javascript:void(0)"><i class="fe fe-facebook"></i></a>
                            </li>
                            <li>
                                <a class="social-icon text-dark" href="javascript:void(0)"><i class="fe fe-twitter"></i></a>
                            </li>
                            <li>
                                <a class="social-icon text-dark" href="javascript:void(0)"><i class="fe fe-linkedin"></i></a>
                            </li>
                            <li>
                                <a class="social-icon text-dark" href="javascript:void(0)"><i class="fe fe-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-5 col-sm-8 col-12">
                <div class="top-bar-end">
                    <ul class="custom">
                        <li>
                            <a href="/Account/Register" class="text-dark"><i class="fe fe-user me-1"></i> <span>Kayıt Ol</span></a>
                        </li>
                        <li>
                            <a href="#" class="text-dark"><i class="fe fe-log-in me-1"></i> <span>Giriş</span></a>
                        </li>
                        <li class="dropdown">
                            <a href="javascript:void(0)" class="text-dark" data-bs-toggle="dropdown"><i class="fe fe-home me-1"></i><span> Hesabım<i class="fe fe-chevron-down  ms-1"></i></span></a>
                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <a href="#" class="dropdown-item">
                                    <i class="dropdown-icon icon icon-user"></i> Profilim
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="dropdown-icon icon icon-speech"></i> Kurslarım
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="dropdown-icon icon icon-bell"></i> Bildirimler
                                </a>
                                <a href="#" class="dropdown-item">
                                    <i class="dropdown-icon  icon icon-settings"></i> Hesap Ayarı
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="dropdown-icon icon icon-power"></i> Çıkış
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>