@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Header {
    <section>
        <div class="sptb-2 bannerimg">
            <div class="header-text mb-0">
                <div class="container">
                    <div class="text-center text-white py-7">
                        <h1 class="">Hakkımızda</h1>
                        <ol class="breadcrumb text-center">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Anasayfa</a></li>
                            <li class="breadcrumb-item active text-white" aria-current="page">Hakkımızda</li>
                        </ol>

                    </div>
                </div>
            </div>
        </div>
    </section>

}
   




<!--section-->
<section class="sptb position-relative ">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 text-center mb-5">
                <h1 class="mb-4 font-weight-bold">Biz Kimiz ?</h1>
                <p class="leading-normal lead-1">
                    Biz, geleceği planlayan bir ekibiz.
                    Sınav stresinizi ölçerken, sınav çözme tekniği kazandırıyoruz.
                </p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <p class="leading-normal  fs-16">
                    Atatürk ilke ve devrimleri ışığında, gelişmiş yaşam becerileriyle donanmış, hayat boyu öğrenmeye istekli, başarılı, sağlıklı ve MUTLU bireyler yetiştirmektir.
                    </p>
                    <p class="leading-normal  fs-16">
                    Çağdaş bir toplumun gereksinimlerine yanıt veren, bilimsel araştırma ve olgulara dayalı bir eğitim felsefesiyle güçlü bir okul kültürü ve iklimi oluşturmak, değişen koşullara bağlı olarak kaliteyi daima göz önünde bulundurmaktır.
                    </p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="text-justify">
                    <p class="leading-normal fs-16"> En değerli varlığımız olan çocuklarımızı; geleceğin dünyasında yeri olan, bilimsel ve sosyal gelişimleri bakımından rekabet edebilecek yeterlilikte yetiştirmek ana hedefimizdir</p>
                    <p class="leading-normal mb-0"> Küçük bedenlerdeki kocaman yüreklere dokunurken dünyanın en kutsal, en güzel ve en mutluluk verici işini yaptığımızın farkındayız. EDUIKO ailesinin parçası olmak mutlu okul, mutlu öğrenci, mutlu aile demektir. Eğitim modelimiz bu amaçları gerçekleştirmek üzere planlanmıştır.</p>
                    </div>
                </div>
                <div class="aboutlink">
                    <a href="#sec1" class="">
                        <i class="fa fa-angle-double-down"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!--/section-->
   
   
    <!--Section-->
     <section>
        <div class="cover-image about-widget sptb bg-background-color" data-bs-image-src="../assets/images/banners/banner4.jpg">
            <div class="content-text mb-0">
                <div class="container">
                    <div class="text-center text-white ">
                    <h2 class="mb-2 text-white font-weight-400">Hedeflerinize Ulaşmak İçin Bugün Bize Katılın...</h2>
                    <p class="lead">Tam öğrenme ölçümlerini uygulayabilir. Adım adım etkinlikleri gerçekleştirebilirsiniz.</p>
                        <div class="mt-5">
                            <a href="/Account/Register" class="btn btn-lg btn-secondary">Şimdi Kayıt Ol!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/Section-->
    <!--Section-->
<section class="sptb">
        <div class="container">
            <div class="section-title d-md-flex mb-5">
                <div>
                    <h2>Niçin Biz?</h2>
                <p class="fs-18 lead">Edu İKO'nun odağında öğrenci bulunmaktadır. Çoklu zeka envanteri ile öğrenme modelini tespit edip, öğrencinin eksik yönlerini geliştirecek uygulamalar ile öğrencinin gelişmesini sağlar.</p>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-12 col-lg-7 col-sm-12">
                    <div class="row ">
                        <div class="col-md-6 col-lg-6 features">
                            <div class="card">
                                <div class="card-body text-center">
                                    <div class="feature">
                                        <div class="fa-stack fa-lg fea-icon bg-success mb-3">
                                        <i class="fa fa-clock-o text-white"></i>
                                        </div>
                                        <div class="">
                                        <h3 class="font-weight-semibold">Zaman</h3>
                                        <p>Her soruya harcadığınız zamanı ve soru çözme yapınızı tanımlıyoruz.</p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body text-center">
                                    <div class="feature">
                                        <div class="fa-stack fa-lg  fea-icon bg-primary mb-3">
                                            <i class="fa fa-heart  text-white"></i>
                                        </div>
                                    <h3 class="font-weight-semibold">Online Canlı Ders</h3>
                                    <p>Kaçırsanda ya da istediğin an açıp geçmiş derslerini tekrar tekrar izeleyebilirsin.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 features mt-0 mt-md-7">
                            <div class="card">
                                <div class="card-body text-center">
                                    <div class="feature">
                                        <div class="fa-stack fa-lg  fea-icon bg-secondary mb-3">
                                        <i class="fa fa-film text-white"></i>
                                        </div>
                                    <h3 class="font-weight-semibold">Etkileşimli İçerik</h3>
                                    <p>Dersler etkileşimli video içerikleri ile tam öğrenme modelinizi destekleyecek.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-lg-0">
                                <div class="card-body text-center">
                                    <div class="feature">
                                        <div class="fa-stack fa-lg  fea-icon bg-warning mb-3">
                                            <i class="fa fa-line-chart   text-white"></i>
                                        </div>
                                    <h3 class="font-weight-semibold">Kişisel Analiz</h3>
                                    <p>Yapay zeka ile kişisel eğitim envanterini tespit edip, sen de istiyorsan, eksiklerini gidermeyi hedefliyoruz.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="text-center ms-5">
                    <img src="~/assets/images/brand/logo-eduiko.svg" class="feature" alt="img">
                    </div>
                </div>
            </div>
        </div>
    </section><!--/Section-->
    <!--Section-->
   

    <!--/section-->
