@{
    ViewData["Title"] = "Privacy Policy";
}
<!--Register-section-->
<section class="sptb">
	<div class="container customerpage">
		<div class="row">
			<div class="col-lg-5 col-xl-5 col-md-6 d-block mx-auto">
				<div class="card">
					<div class="card-body p-6">
						<div class="mb-6">
							<h5 class="fs-25 font-weight-semibold">Register</h5>
							<p class="fs-16">If you are going to use a passage of Lorem Ipsum</p>
						</div>
						<div class="single-page customerpage">
							<div class="wrapper wrapper2 box-shadow-0">
								<form id="register" class="" tabindex="500">
									<div class="name">
										<label>Name</label>
										<input type="text" name="name">
									</div>
									<div class="mail">
										<label>Mail or Username</label>
										<input type="email" name="mail">
									</div>
									<div class="passwd">
										<label>Password</label>
										<input type="password" name="password">
									</div>
									<div class="submit">
										<a class="btn btn-primary btn-block" href="index.html">Register</a>
									</div>
									<p class="text-dark mb-0">Already have an account?<a href="login.html" class="text-primary ms-1">Sign In</a></p>
								</form>
							</div>
						</div>
					</div>
					<div class="card-body p-6 border-top">
						<div class="d-flex">
							<div>
								<h5 class="modal-title fs-20 font-weight-semibold">Register with Social</h5>
								<p class="fs-16">If you are going to use a passage of Lorem Ipsum</p>
								<div class="">
									<div class="btn-group mb-3 mb-lg-0">
										<a href="https://www.facebook.com/" class="social-button">
											<span class="fe fe-facebook"></span> Facebook
										</a>
									</div>
									<div class="btn-group mb-3 mb-lg-0">
										<a href="https://www.google.com/gmail/" class="social-button">
											<span class="fe fe-linkedin"></span> Linkedin
										</a>
									</div>
									<div class="btn-group mb-3 mb-lg-0">
										<a href="https://twitter.com/" class="social-button">
											<span class="fe fe-twitter"></span> Twitter
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section><!--/Register-section-->
<!--Section-->
