<div class="card mb-0 border-0 shadow-none">
	<div class="card-body item-user p-0">
		<div class="profile-pic mb-0 text-start">
			<div class="d-md-flex d-block">
				<img src="../assets/images/users/female/20.jpg" class="brround me-5" alt="user">
				<div class="my-auto">
					<a href="userprofile.html" class="text-dark"><h4 class="mb-1 font-weight-semibold">Julia Hardacre</h4></a>
					<span class="text-muted">Member Since November 2008</span>
					<div class=" item-user-icons mt-1">
						<a href="javascript:void(0)" class="facebook-bg mt-0"><i class="fa fa-facebook"></i></a>
						<a href="javascript:void(0)" class="twitter-bg"><i class="fa fa-twitter"></i></a>
						<a href="javascript:void(0)" class="google-bg"><i class="fa fa-google"></i></a>
						<a href="javascript:void(0)" class="dribbble-bg"><i class="fa fa-dribbble"></i></a>
					</div>
				</div>
			</div>
			<div class="description">
				<p class="lead-1 mb-0 mt-5">
					Ut enim ad minim veniam, quis Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et  nostrud exercitation ullamco laboris   commodo consequat.
				</p>
			</div>
		</div>
	</div>
	<div class="card-body border-top-0 item-user ps-0 pr-0 pb-0">
		<h4 class="mb-4">Contact Info</h4>
		<div>
			<h6 class="mb-3"><span class="font-weight-semibold"><i class="fe fe-map-pin me-2 mb-2"></i></span><a href="javascript:void(0)" class="text-body"> 7981 Aspen Ave. Hammonton,  USA</a></h6>
			<h6 class="mb-3"><span class="font-weight-semibold"><i class="fe fe-mail me-2 mb-2"></i></span><a href="javascript:void(0)" class="text-body"> smith@gmail.com</a></h6>
			<h6 class="mb-3"><span class="font-weight-semibold"><i class="fe fe-phone me-2  mb-2"></i></span><a href="javascript:void(0)" class="text-body"> 0-235-657-24587</a></h6>
			<h6 class="mb-0"><span class="font-weight-semibold"><i class="fe fe-link me-2 "></i></span><a href="javascript:void(0)" class="text-body">http://abcd.com/</a></h6>
		</div>
	</div>
</div>