<div class="row">
	<div class="col-xl-4 text-center my-auto  border-end">
		<div class="ratings-view">
			<h1 class="text-view mb-0 font-weight-semibold fs-60">4.0</h1>
			<p class="mb-0 font-weight-bold">Out Of 5.0</p>
			<p class="text-warning mb-0">
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star-o"></i>
			</p>
		</div>
	</div>
	<div class="col-xl-8 my-auto">
		<div class="ps-0 ps-md-5">
			<div class="row">
				<div class="col-sm-2 col-4">
					<span class="font-weight-semibold">5stars</span>
				</div>
				<div class="col-sm-8 col-4">
					<div class="progress mb-2 mt-2 h-2">
						<div class="progress-bar bg-primary w-90"></div>
					</div>
				</div>
				<div class="col-sm-2 col-4">
					<span>(90%)</span>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-2 col-4">
					<span class="font-weight-semibold">4stars</span>
				</div>
				<div class="col-sm-8 col-4">
					<div class="progress mb-2 mt-2 h-2">
						<div class="progress-bar bg-primary w-70"></div>
					</div>
				</div>
				<div class="col-sm-2 col-4">
					<span>(65%)</span>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-2 col-4">
					<span class="font-weight-semibold">3stars</span>
				</div>
				<div class="col-sm-8 col-4">
					<div class="progress mb-2 mt-2 h-2">
						<div class="progress-bar bg-primary w-50"></div>
					</div>
				</div>
				<div class="col-sm-2 col-4">
					<span>(49%)</span>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-2 col-4">
					<span class="font-weight-semibold">2stars</span>
				</div>
				<div class="col-sm-8 col-4">
					<div class="progress mb-2 mt-2 h-2">
						<div class="progress-bar bg-primary w-30"></div>
					</div>
				</div>
				<div class="col-sm-2 col-4">
					<span>(25%)</span>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-2 col-4">
					<span class="font-weight-semibold">1stars</span>
				</div>
				<div class="col-sm-8 col-4">
					<div class="progress mb-2 mt-2 h-2">
						<div class="progress-bar bg-primary w-20"></div>
					</div>
				</div>
				<div class="col-sm-2 col-4">
					<span>(15%)</span>
				</div>
			</div>
		</div>
	</div>
</div>